language: node_js
node_js:
  - "lts/*"
script:
  - npm run lint
  - npm test
  - npm run build
deploy:
  provider: script
  skip_cleanup: true
  script: bash scripts/gh-pages-deploy.sh
  on:
    all_branches: true
    condition: $TRAVIS_BRANCH =~ ^(v[0-9]+(-beta)?|master)$
