openapi: 3.0.2
info:
  version: 2.0.0
  title: ZenAPI
  description: |
    # Overview

    This is the reference documentation for the Zenvia *REST-like* API.

    This API is based on resources which are represented by JSON format and are manipulated using HTTP protocol.

    ## What you can do with this API

    You can send messages for the following channels:

    * SMS
    * WhatsApp
    * Facebook
    * RCS
    * Voice

    You can subscribe for some events and receive then in one webhook endpoint.
    The available events are:

    * Messages: You can receive messages events. You can select the channel of the messages which you want to receive as much as her direction.
    * Messages status: You can receive status update for sent messages.

    ## What you need before start

    Before use this API you need the following prerequisites:

    * **Zenvia Account**: create one account on [Zenvia platform site](https://app.zenvia.com/)
    * **Integrations**: to send or receive messages for desired channels you need to configure these channels on [integrations page](https://app.zenvia.com/home/credentials)
    * **API Token**: create one API token on [API console](https://app.zenvia.com/home/api)
    * **Webhook** (optional): to receive messages you need to subscribe for this events using the [subscriptions API resources](#tag/Subscriptions)

    You can use [sandbox](#section/Getting-started-with-Sandbox) to start using and test this API immediately.

    ## How to view your consumption report
    You can also access the Zenvia platform to view your [Consumption Report](https://app.zenvia.com/notifications/dashboard/api) 

    # Getting started with Sandbox

    The fastest way to start using this API is our [Sandbox available on Zenvia platform](https://app.zenvia.com/home/sandbox).

    When you create a new Sandbox, you will be guided step-by-step to send and receive messages using one desired channel.

    [Click here and start sending and receiving messages using WhatsApp or SMS using this API.](https://app.zenvia.com/home/sandbox)

    You are able to send test messages to the connected numbers over a 24-hour period. After that, you must reconnect your number, [sending the keyword again](https://app.zenvia.com/home/sandbox).

    # API versions

    All notable changes to ZenAPI will be documented here.

    <!-- The format is based on Keep a Changelog: http://keepachangelog.com/en/1.0.0/ -->
    <!-- and this project adheres to Semantic Versioning: http://semver.org/spec/v2.0.0.html -->

    Currently the ZenAPI is on version v2

    ## v2 (current)

    ### 2020-10-27

    * Added
        * Added RCS Channels sections.
        
    ### 2020-09-24

    * Added
        * Added message-batches: Api to send messages in batch.

    ### 2020-09-01

    * Breaking Changes
        * Does not use visitor as a JSON within contents block. Use the visitor sent in content root.
        * Location is no longer used as JSON.
        * Removed deprecated `channels` attribute from template resource.

    ## v1 (deprecated)

    You can still check v1 version clicking <a target="_blank" href="https://zenvia.github.io/zenvia-openapi-spec/v1/">here</a>.

       
    ### 2020-02-01

    * Added
        * Added templates.
        * Added reporting API.

    ### 2020-01-01

    * Added
        * Added Subscription section.
        * Added WhatsApp, SMS and Facebook Channels sections.

    # SDKs

    SDKs make it easy to use our APIs just by including them in your software.

    These helper libraries are available in the [Node](https://github.com/zenvia/zenvia-sdk-node) and [Java](https://github.com/zenvia/zenvia-sdk-java) programming languages on our [GitHub](https://github.com/zenvia).

    # HTTP Methods

    HTTP methods are used for manipulate resources.

    Not all resources have all operations, see the reference of each resource.

    Methods used with collection endpoints:

    | Http Method      | Operation                | Success HTTP status |
    |:-----------------|:-------------------------|:--------------------|
    | GET              | List collection items    | 200 - Ok            |
    | POST             | Create a new item        | 200 - Ok            |

    Methods used with item endpoints:

    | Http Method      | Operation                    | Success HTTP status |
    |:-----------------|:-----------------------------|:--------------------|
    | GET              | Retrieve one resource item   | 200 - Ok            |
    | DELETE           | Delete one resource item     | 204 - No content    |
    | PATCH            | Update one resource item     | 200 - Ok            |

    When one operation is executed successfully, the API will respond with 2xx status code.

    # Error Handling

    When one error occurs, the API will return one HTTP code 4xx or 5xx and the payload with Error Object.

    The error object have the follwing schema:

    <SchemaDefinition schemaRef="#/components/schemas/error.base" />

    Responses error codes are detailed below.

    | Http Status Code | Code                 | Message                          | Retry request |
    |:-----------------|:---------------------|:---------------------------------|:--------------|
    | 400              | VALIDATION_ERROR     | Validation error                 | No            |
    | 401              | AUTHENTICATION_ERROR | No authorization token was found | No            |
    | 404              | NOT_FOUND            | Not found                        | No            |
    | 409              | DUPLICATED           | Entity already exists            | No            |
    | 500              | INTERNAL_ERROR       | Internal error                   | Yes           |

    # Authentication

    ## TOKEN
    To use this API you need to send the API token in all requests.

    This TOKEN needs to be sent in HTTP header 'X-API-TOKEN'.

    Example:
    ```X-API-TOKEN: hKp94crjv9OF3UGrCpSXUJw1-UYHhRvLKNLt```

    You can generate your token on [API console](https://app.zenvia.com/home/api) inside Zenvia platform website.

    ## JWT

    The JWT token is primarily used by front-end applications for user interactions.

    For server to server integrations use [TOKEN](/#section/Authentication/TOKEN) authentication type.
  termsOfService: 'https://zenvia.com/'
  contact:
    name: API Support
    email: atendimento@zenvia.com
    url: 'https://zenapi.zenvia.com/'
  license:
    name: MIT
    url: 'https://raw.githubusercontent.com/zenvia/zenvia-openapi-spec/master/LICENSE.md'
  x-logo:
    url: 'https://zenvia.github.io/zenvia-openapi-spec/assets/zenapi.png'
servers:
  - url: 'https://api.zenvia.com/v2'
paths:
  /message-batches:
    post:
      description: Create batch
      tags:
        - Batches
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                contacts:
                  type: string
                  title: Binary CSV File
                  description: Binary csv file with recipients and variable values ​​when necessary.
                batch:
                  $ref: '#/components/schemas/batches.multipart-batch'
              required:
                - contacts
                - batch
      responses:
        '200':
          description: Created batch
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/batches.multipart-batch'
        default:
          $ref: '#/components/responses/error'
  /channels/facebook/messages:
    post:
      description: Send a Facebook message
      tags:
        - Facebook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/message.facebook'
            examples:
              text:
                value:
                  from: '5510999999999'
                  to: '55108888888888'
                  contents:
                    - type: text
                      text: Hi Zenvia!
      responses:
        '200':
          description: Created message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/message.facebook'
        default:
          $ref: '#/components/responses/error'
      x-code-samples:
        - lang: Shell
          label: Bash
          source: |
            curl "https://api.zenvia.com/v2/channels/facebook/messages" \
            -H "Content-Type: application/json" \
            -H "X-API-TOKEN: YOUR_API_TOKEN" \
            -d '{
              "from": "sender-identifier",
              "to": "recipient-identifier",
              "contents": [{
                "type": "text",
                "text": "Some text message"
              }]
            }'
        - lang: JavaScript
          label: Node.js
          source: |
            const { post } = require('request-promise');

            post({
              uri: 'https://api.zenvia.com/v2/channels/facebook/messages',
              headers: {
                'X-API-TOKEN': 'YOUR_API_TOKEN'
              },
              body: {
                from: 'sender-identifier',
                to: 'recipient-identifier',
                contents: [{
                  type: 'text',
                  text: 'Some text message'
                }]
              },
              json: true
            })
            .then((response) => {
              console.log('Response:', response);
            })
            .catch((error) => {
              console.log('Error:', error);
            });
        - lang: JavaScript
          label: Node.js SDK
          source: |
            /**
             * Example: https://github.com/zenvia/zenvia-sdk-node/blob/master/examples/facebook-send-text-message.js
             */

            import { Client, TextContent } from '@zenvia/sdk';

            const client = new Client('YOUR_API_TOKEN');

            const facebook = client.getChannel('facebook');

            const content = new TextContent('Some text message');

            facebook.sendMessage('sender-identifier', 'recipient-identifier', content)
            .then((response) => {
              console.log('Response:', response);
            })
            .catch((error) => {
              console.log('Error:', error);
            });
        - lang: Java
          label: Java SDK
          source: |
            import com.zenvia.api.sdk.client.Channel;
            import com.zenvia.api.sdk.client.apache.Client;
            import com.zenvia.api.sdk.contents.TextContent;
            import com.zenvia.api.sdk.messages.Message;

            public class FacebookSendTextMessage {

              public static void main (String arg []) {
                Client client = new Client("YOUR_API_TOKEN");

                Channel facebook = client.getChannel("facebook");

                TextContent content = new TextContent("Some text message");

                try {
                  Message response = facebook.sendMessage("sender-identifier", "recipient-identifier", content);
                  System.out.println("Response: " + response.toString());
                } catch(Exception e) {
                  System.out.println("Error: " + e.getMessage());
                }
              }

            }
  /channels/rcs/messages:
    post:
      description: Send a RCS message
      tags:
        - RCS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/message.rcs'
            examples:
              text:
                value:
                  from: '5510999999999'
                  to: '55108888888888'
                  contents:
                    - type: text
                      text: Hi Zenvia!
              file:
                value:
                  from: '5510999999999'
                  to: '55108888888888'
                  contents:
                    - type: file
                      fileUrl: 'https://zenvia.br/zenvia-team.png'
                      fileMimeType: image/png
                      fileCaption: 'Our pic :)'
                      fileName: team.png
              card:
                value:
                  from: '5510999999999'
                  to: '55108888888888'
                  contents:
                    - type: card
                      label: Card from Zenvia
                      text: This is our products
                      media:
                        url: 'https://zenvia.br/zenvia-office.png'
                        disposition: ON_THE_TOP_MEDIUM_HEIGHT
                        caption: Our amazing office!
                      buttons:
                        - type: link
                          text: Site
                          url: 'https://www.zenvia.com/'
                      quickReplyButtons:
                        - type: text
                          text: Click here
                          payload: success
              carousel:
                value:
                  from: '5510999999999'
                  to: '55108888888888'
                  contents:
                    - type: carousel
                      cardWidth: MEDIUM
                      cards:
                        - label: Card from Zenvia
                          text: This is our products
                          media:
                            url: 'https://zenvia.br/zenvia-office.png'
                            disposition: ON_THE_TOP_MEDIUM_HEIGHT
                            caption: Our amazing office!
                          buttons:
                            - type: link
                              text: Site
                              url: 'https://www.zenvia.com/'
                          quickReplyButtons:
                            - type: text
                              text: Click here
                              payload: success
      responses:
        '200':
          description: Created message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/message.rcs'
        default:
          $ref: '#/components/responses/error'
  /channels/sms/messages:
    post:
      description: Send a SMS message
      tags:
        - SMS
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/message.sms'
            examples:
              text:
                value:
                  from: '5510999999999'
                  to: '55108888888888'
                  contents:
                    - type: text
                      text: Hi Zenvia!
      responses:
        '200':
          description: Created message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/message.sms'
        default:
          $ref: '#/components/responses/error'
      x-code-samples:
        - lang: Shell
          label: Bash
          source: |
            curl "https://api.zenvia.com/v2/channels/sms/messages" \
            -H "Content-Type: application/json" \
            -H "X-API-TOKEN: YOUR_API_TOKEN" \
            -d '{
              "from": "sender-identifier",
              "to": "recipient-identifier",
              "contents": [{
                "type": "text",
                "text": "Some text message"
              }]
            }'
        - lang: JavaScript
          label: Node.js
          source: |
            const { post } = require('request-promise');

            post({
              uri: 'https://api.zenvia.com/v2/channels/sms/messages',
              headers: {
                'X-API-TOKEN': 'YOUR_API_TOKEN'
              },
              body: {
                from: 'sender-identifier',
                to: 'recipient-identifier',
                contents: [{
                  type: 'text',
                  text: 'Some text message'
                }]
              },
              json: true
            })
            .then((response) => {
              console.log('Response:', response);
            })
            .catch((error) => {
              console.log('Error:', error);
            });
        - lang: JavaScript
          label: Node.js SDK
          source: |
            /**
             * Example: https://github.com/zenvia/zenvia-sdk-node/blob/master/examples/sms-send-text-message.js
             */

            import { Client, TextContent } from '@zenvia/sdk';

            const client = new Client('YOUR_API_TOKEN');

            const sms = client.getChannel('sms');

            const content = new TextContent('Some text message');

            sms.sendMessage('sender-identifier', 'recipient-identifier', content)
            .then((response) => {
              console.log('Response:', response);
            })
            .catch((error) => {
              console.log('Error:', error);
            });
        - lang: Java
          label: Java SDK
          source: |
            import com.zenvia.api.sdk.client.Channel;
            import com.zenvia.api.sdk.client.apache.Client;
            import com.zenvia.api.sdk.contents.TextContent;
            import com.zenvia.api.sdk.messages.Message;

            public class SmsSendTextMessage {

              public static void main (String arg []) {
                Client client = new Client("YOUR_API_TOKEN");

                Channel sms = client.getChannel("sms");

                TextContent content = new TextContent("Some text message");

                try {
                  Message response = sms.sendMessage("sender-identifier", "recipient-identifier", content);
                  System.out.println("Response: " + response.toString());
                } catch(Exception e) {
                  System.out.println("Error: " + e.getMessage());
                }
              }

            }
  /channels/voice/messages:
    post:
      description: Send a Voice message
      tags:
        - Voice
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/message.voice'
      responses:
        '200':
          description: Created message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/message.voice'
        default:
          $ref: '#/components/responses/error'
  /channels/whatsapp/messages:
    post:
      description: Send a WhatsApp message
      tags:
        - WhatsApp
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/message.whatsapp'
            examples:
              text:
                value:
                  from: '5510999999999'
                  to: '55108888888888'
                  contents:
                    - type: text
                      text: Hi Zenvia!
              file:
                value:
                  from: '5510999999999'
                  to: '55108888888888'
                  contents:
                    - type: file
                      fileUrl: 'https://zenvia.br/zenvia-team.png'
                      fileMimeType: image/png
                      fileCaption: 'Our pic :)'
                      fileName: team.png
              template:
                value:
                  from: '5510999999999'
                  to: '55108888888888'
                  contents:
                    - type: template
                      templateId: template_id
                      fields:
                        name: Jhon
                        product: Zenvia Chat
              contacts:
                value:
                  from: '5510999999999'
                  to: '55108888888888'
                  contents:
                    - type: contacts
                      contacts:
                        - addresses:
                            - street: 'Av. Paulista, 2300'
                              city: São Paulo
                              state: São Paulo
                              zip: 01310-300
                              county: Brazil
                              countryCode: BR
                              type: WORK
                          birthday: ''
                          contactImage: ''
                          emails:
                            - email: jhon@zenvia.com
                              type: WORK
                          name:
                            formattedName: Jhon Zenvia
                            firstName: Jhon
                            lastName: Zenvia
                            middleName: ''
                            suffix: ''
                            prefix: ''
                          org:
                            company: Zenvia
                            department: Sales
                            title: Sales
                          phones:
                            - phone: 08006464777
                              type: WORK
                              waId: '132465'
                          urls:
                            - url: 'https://www.zenvia.com/'
                              type: WORK
              location:
                value:
                  from: '5510999999999'
                  to: '55108888888888'
                  contents:
                    - type: location
                      latitude: -23.55726
                      longitude: -46.66103
                      name: Zenvia
                      address: 'Av. Paulista, 2300 - 18º Andar - Bela Vista, São Paulo - SP, 01310-300'
                      url: 'https://www.zenvia.com/'
      responses:
        '200':
          description: Created message
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/message.whatsapp'
        default:
          $ref: '#/components/responses/error'
      x-code-samples:
        - lang: Shell
          label: Bash
          source: |
            curl "https://api.zenvia.com/v2/channels/whatsapp/messages" \
            -H "Content-Type: application/json" \
            -H "X-API-TOKEN: YOUR_API_TOKEN" \
            -d '{
              "from": "sender-identifier",
              "to": "recipient-identifier",
              "contents": [{
                "type": "text",
                "text": "Some text message"
              }]
            }'
        - lang: JavaScript
          label: Node.js
          source: |
            const { post } = require('request-promise');

            post({
              uri: 'https://api.zenvia.com/v2/channels/whatsapp/messages',
              headers: {
                'X-API-TOKEN': 'YOUR_API_TOKEN'
              },
              body: {
                from: 'sender-identifier',
                to: 'recipient-identifier',
                contents: [{
                  type: 'text',
                  text: 'Some text message'
                }]
              },
              json: true
            })
            .then((response) => {
              console.log('Response:', response);
            })
            .catch((error) => {
              console.log('Error:', error);
            });
        - lang: JavaScript
          label: Node.js SDK
          source: |
            /**
             * Example: https://github.com/zenvia/zenvia-sdk-node/blob/master/examples/whatsapp-send-text-message.js
             */

            import { Client, TextContent } from '@zenvia/sdk';

            const client = new Client('YOUR_API_TOKEN');

            const whatsapp = client.getChannel('whatsapp');

            const content = new TextContent('Some text message');

            whatsapp.sendMessage('sender-identifier', 'recipient-identifier', content)
            .then((response) => {
              console.log('Response:', response);
            })
            .catch((error) => {
              console.log('Error:', error);
            });
        - lang: Java
          label: Java SDK
          source: |
            import com.zenvia.api.sdk.client.Channel;
            import com.zenvia.api.sdk.client.apache.Client;
            import com.zenvia.api.sdk.contents.TextContent;
            import com.zenvia.api.sdk.messages.Message;

            public class WhatsAppSendTextMessage {

              public static void main (String arg []) {
                Client client = new Client("YOUR_API_TOKEN");

                Channel whatsapp = client.getChannel("whatsapp");

                TextContent content = new TextContent("Some text message");

                try {
                  Message response = whatsapp.sendMessage("sender-identifier", "recipient-identifier", content);
                  System.out.println("Response: " + response.toString());
                } catch(Exception e) {
                  System.out.println("Error: " + e.getMessage());
                }
              }

            }
  /reports/flow/entries:
    get:
      description: Retrieve all entries applying the given filters
      tags:
        - Flow Report
      responses:
        '200':
          description: Flow report entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/reports.flow.entries.base'
        default:
          $ref: '#/components/responses/error'
    parameters:
      - $ref: '#/components/parameters/reports.flow.startDate'
      - $ref: '#/components/parameters/reports.flow.endDate'
      - $ref: '#/components/parameters/reports.flow.flowId'
      - $ref: '#/components/parameters/reports.flow.dispatchId'
      - $ref: '#/components/parameters/reports.flow.sessionId'
  /reports/message/entries:
    get:
      description: Retrieve all entries applying the given filters
      tags:
        - Message Report
      responses:
        '200':
          description: Message report entries
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/reports.message.entry.base'
        default:
          $ref: '#/components/responses/error'
    parameters:
      - $ref: '#/components/parameters/reports.message.startDate'
      - $ref: '#/components/parameters/reports.message.endDate'
      - $ref: '#/components/parameters/reports.message.channels'
      - $ref: '#/components/parameters/reports.message.type'
  /subscriptions:
    post:
      description: Create a new webhook
      tags:
        - Webhooks
      responses:
        '200':
          description: Created subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription.all'
        default:
          $ref: '#/components/responses/error'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscription.all'
      callbacks:
        onEvent:
          $ref: '#/components/callbacks/subscription-event'
    get:
      description: List all webhooks
      tags:
        - Webhooks
      responses:
        '200':
          description: Webhook Object List
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/subscription.all'
        default:
          $ref: '#/components/responses/error'
  '/subscriptions/{subscriptionId}':
    get:
      description: Retrieve one webhook by id
      tags:
        - Webhooks
      responses:
        '200':
          description: Webhook Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription.all'
        default:
          $ref: '#/components/responses/error'
    delete:
      description: Delete one webhook by id
      tags:
        - Webhooks
      responses:
        '204':
          description: No content
        default:
          $ref: '#/components/responses/error'
    patch:
      description: Update one webhook by id
      tags:
        - Webhooks
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/subscription.partial-subscription'
      responses:
        '200':
          description: Webhook Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/subscription.all'
        default:
          $ref: '#/components/responses/error'
    parameters:
      - $ref: '#/components/parameters/subscriptionId'
  /templates:
    post:
      description: Create a new
      tags:
        - Templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/templates.template'
      responses:
        '200':
          description: Created template
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/templates.template'
        default:
          $ref: '#/components/responses/error'
    get:
      description: List all templates
      tags:
        - Templates
      parameters:
        - $ref: '#/components/parameters/templates.channel'
        - $ref: '#/components/parameters/templates.senderId'
        - $ref: '#/components/parameters/templates.status'
      responses:
        '200':
          description: Template Object List
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/templates.template'
        default:
          $ref: '#/components/responses/error'
  '/templates/{templateId}':
    get:
      description: Retrieve one template by id
      tags:
        - Templates
      responses:
        '200':
          description: Template Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/templates.template'
        default:
          $ref: '#/components/responses/error'
    delete:
      description: Delete one template by id
      tags:
        - Templates
      responses:
        '204':
          description: No content
        default:
          $ref: '#/components/responses/error'
    patch:
      description: Update one template by id
      tags:
        - Templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/templates.partial-template'
      responses:
        '200':
          description: Template Object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/templates.template'
        default:
          $ref: '#/components/responses/error'
    parameters:
      - $ref: '#/components/parameters/templateId'
  '/templates/{templateId}/comments':
    post:
      description: Create a new comment
      tags:
        - Templates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/templates.template-comment'
      responses:
        '200':
          description: Created comment
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/templates.template-comment'
        default:
          $ref: '#/components/responses/error'
    get:
      description: List all comments
      tags:
        - Templates
      responses:
        '200':
          description: Comment Object List
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/templates.template-comment'
        default:
          $ref: '#/components/responses/error'
    parameters:
      - $ref: '#/components/parameters/templateId'
  '/templates/{templateId}/comments/{templateCommentId}':
    delete:
      description: Delete comment by id
      tags:
        - Templates
      responses:
        '204':
          description: No content
        default:
          $ref: '#/components/responses/error'
    parameters:
      - $ref: '#/components/parameters/templateId'
      - $ref: '#/components/parameters/templateCommentId'
components:
  schemas:
    batches.base:
      title: Batch Object
      description: This is a Batch object model.
      type: object
      properties:
        id:
          title: Batch ID
          description: Batch identifier created automatically
          type: string
          example: ad48e792-7d6e-464f-a478-df3239475016
          readOnly: true
        name:
          title: Batch Name
          description: Batch identification name
          type: string
          example: My batch name
        channel:
          title: Channel
          description: Message channel
          type: string
      required:
        - name
        - channel
    batches.multipart-batch:
      title: Batch Object
      description: This is a Batch object model.
      oneOf:
        - $ref: '#/components/schemas/batches.multipart.batch.sms'
        - $ref: '#/components/schemas/batches.multipart.batch.whatsapp'
      discriminator:
        propertyName: channel
        mapping:
          sms: '#/components/schemas/batches.multipart.batch.sms'
          whatsapp: '#/components/schemas/batches.multipart.batch.whatsapp'
    batches.multipart.base:
      title: Batch Object
      description: This is a Batch object model.
      type: object
      allOf:
        - $ref: '#/components/schemas/batches.base'
        - type: object
          properties:
            columnMapper:
              $ref: '#/components/schemas/batches.multipart.columnMapper'
            message:
              $ref: '#/components/schemas/batches.multipart.message'
          required:
            - message
            - columnMapper
    batches.multipart.batch.sms:
      allOf:
        - $ref: '#/components/schemas/batches.multipart.base'
        - type: object
          properties:
            message:
              type: object
              properties:
                contents:
                  type: array
                  items:
                    anyOf:
                      - $ref: '#/components/schemas/batches.multipart.content.text'
                    discriminator:
                      propertyName: type
                      mapping:
                        text: '#/components/schemas/batches.multipart.content.text'
    batches.multipart.batch.whatsapp:
      allOf:
        - $ref: '#/components/schemas/batches.multipart.base'
        - type: object
          properties:
            message:
              type: object
              properties:
                contents:
                  type: array
                  items:
                    anyOf:
                      - $ref: '#/components/schemas/batches.multipart.content.template'
                    discriminator:
                      propertyName: type
                      mapping:
                        template: '#/components/schemas/batches.multipart.content.template'
    batches.multipart.columnMapper:
      title: Column Mapper
      description: The mapping of variables in relation to the columns of the file. This indicates in which column of the file is the value that must be used to fill each variable. The **recipient_header_name** variable is required because the column of the file that has the recipient`s contact number must be related to this variable.
      type: object
      example:
        recipient_header_name: recipient_number_column
        name: recipient_name_column
        protocol: protocol_column
      properties:
        recipient_header_name:
          title: Recipient header name
          description: Recipient header name
          type: string
          example: recipient_header_name
      required:
        - recipient_header_name
    batches.multipart.message:
      title: Message Object
      description: This is a Message object model.
      type: object
      properties:
        from:
          title: Sender ID
          description: This is the identifier of sender of this message. The sender shoud be created with a credential.
          type: string
        contents:
          title: Message Contents
          description: A list of content to be sent
          type: array
          minItems: 1
          items:
            type: object
      required:
        - from
        - contents
    batches.multipart.content.template:
      type: object
      allOf:
        - $ref: '#/components/schemas/content.base'
        - type: object
          properties:
            type:
              type: string
              example: template
            templateId:
              type: string
              description: 'The template identifier. Click <a href="https://app.zenvia.com/home/templates" target="_blank">here</a> to go to the template page.'
              example: c2c3e42d-6fb7-4ad6-897a-dd7613469f58
          required:
            - type
            - templateId
    batches.multipart.content.text:
      type: object
      allOf:
        - $ref: '#/components/schemas/content.base'
        - type: object
          properties:
            type:
              type: string
              example: text
            text:
              description: 'Text to be sent to all recipients in the contact file. The text supports the use of variables, for its creation the following pattern must be used: **{{variable}}**'
              type: string
              example: 'Hello {{name}} your service protocol is number {{protocol}}'
          required:
            - type
            - text
    content.audiofile:
      title: Audio file
      description: URL of audio
      type: object
      properties:
        type:
          type: string
        fileUrl:
          description: URL of audio
          type: string
          example: 'http://fooooo.bar/audio.mp3'
      required:
        - type
        - fileUrl
    content.base:
      type: object
      properties:
        type:
          title: Content type
          description: Content type discriminator
          type: string
      required:
        - type
    content.card-base:
      type: object
      properties:
        title:
          type: string
          description: A title in bold shown above the text of the card.
          example: Hello
        text:
          type: string
          description: A text to be displayed inside the card.
          example: This is the best thing you will see today!
        media:
          type: object
        buttons:
          $ref: '#/components/schemas/content.nestable-contents.buttons-list'
    content.card:
      type: object
      allOf:
        - $ref: '#/components/schemas/content.base'
        - $ref: '#/components/schemas/content.card-base'
        - type: object
          properties:
            type:
              type: string
              example: card
            media:
              type: object
              allOf:
                - $ref: '#/components/schemas/content.nestable-contents.media-base'
                - type: object
                  properties:
                    disposition:
                      type: string
                      description: 'Controls where in the card the media will be shown, and some values also influence the media height.'
                      enum:
                        - ON_THE_LEFT
                        - ON_THE_RIGHT
                        - ON_THE_TOP_SHORT_HEIGHT
                        - ON_THE_TOP_MEDIUM_HEIGHT
                        - ON_THE_TOP_TALL_HEIGHT
                      default: ON_THE_TOP_SHORT_HEIGHT
            quickReplyButtons:
              $ref: '#/components/schemas/content.nestable-contents.quick-reply-list'
    content.carousel:
      type: object
      allOf:
        - $ref: '#/components/schemas/content.base'
        - type: object
          properties:
            type:
              type: string
              example: carousel
            cardWidth:
              type: string
              description: |-
                Card width, which is always smaller than the width of the standalone card,
                          which would be the equivalent of *LARGE* if it were available for use for the cards of the carosel.
              enum:
                - SMALL
                - MEDIUM
              default: MEDIUM
            cards:
              description: The sequence of cards to be shown in the carousel.
              type: array
              minItems: 1
              maxItems: 10
              items:
                type: object
                allOf:
                  - $ref: '#/components/schemas/content.card-base'
                  - type: object
                    properties:
                      media:
                        type: object
                        allOf:
                          - $ref: '#/components/schemas/content.nestable-contents.media-base'
                          - type: object
                            properties:
                              disposition:
                                type: string
                                enum:
                                  - ON_THE_TOP_SHORT_HEIGHT
                                  - ON_THE_TOP_MEDIUM_HEIGHT
                                  - ON_THE_TOP_TALL_HEIGHT
            quickReplyButtons:
              $ref: '#/components/schemas/content.nestable-contents.quick-reply-list'
          required:
            - type
            - cards
    content.contacts:
      type: object
      allOf:
        - $ref: '#/components/schemas/content.base'
        - type: object
          properties:
            type:
              type: string
              example: contacts
            contacts:
              description: A list of contacts
              type: array
              items:
                type: object
                properties:
                  addresses:
                    description: A list of contact addresses
                    type: array
                    items:
                      type: object
                      properties:
                        street:
                          description: Street number and name
                          type: string
                          example: 'Street Address, 123'
                        city:
                          description: City name
                          type: string
                          example: City name
                        state:
                          description: State abbreviation
                          type: string
                          example: SP
                        zip:
                          description: ZIP code
                          type: string
                          example: 01000-000
                        country:
                          description: Full country name
                          type: string
                          example: Brazil
                        countryCode:
                          description: Two-letter country abbreviation
                          type: string
                          example: BR
                        type:
                          description: The type of the address
                          type: string
                          enum:
                            - HOME
                            - WORK
                          example: WORK
                    minItems: 0
                  birthday:
                    description: The birthday of the contact
                    type: string
                    example: 11/10/1980
                  contactImage:
                    description: Base64-encoded image. Its value has to be a string based on the Base64 Data Encodings specification (RFC 4648).
                    type: string
                  emails:
                    description: A list of e-mails
                    type: array
                    items:
                      type: object
                      properties:
                        email:
                          description: E-mail address
                          type: string
                          example: my-email@email-domain.com
                        type:
                          description: The type of e-mail
                          type: string
                          enum:
                            - HOME
                            - WORK
                          example: HOME
                    minItems: 0
                  ims:
                    description: A list of messaging contact information
                    type: array
                    items:
                      type: object
                      properties:
                        service:
                          description: Instant messaging service name
                          type: string
                          example: This is a messaging service
                        userId:
                          description: User identifier in this instant messaging service
                          type: string
                          example: johnsmith
                    minItems: 0
                  name:
                    description: Full contact name
                    type: object
                    properties:
                      formattedName:
                        description: Full name as it normally appears
                        type: string
                        example: John Megan Smith
                      firstName:
                        description: First name
                        type: string
                        example: John
                      lastName:
                        description: Last name
                        type: string
                        example: Smith
                      middleName:
                        description: Middle name
                        type: string
                        example: Megan
                      suffix:
                        description: Name suffix
                        type: string
                        example: PhD
                      prefix:
                        description: Name preffix
                        type: string
                        example: Mr.
                    required:
                      - formattedName
                      - firstName
                  org:
                    title: Organization
                    description: Contact organization information
                    type: object
                    properties:
                      company:
                        description: Name of the contact's company
                        type: string
                        example: Ms. Sara
                      department:
                        description: Name of the contact's department
                        type: string
                        example: Sales
                      title:
                        description: Contact's business title
                        type: string
                        example: Manager
                  phones:
                    description: A list of contact phone numbers
                    type: array
                    items:
                      type: object
                      properties:
                        phone:
                          description: Formatted phone number
                          type: string
                          example: '+5521999998888'
                        type:
                          description: The type of the phone number
                          type: string
                          enum:
                            - CELL
                            - MAIN
                            - IPHONE
                            - HOME
                            - WORK
                          example: CELL
                        waId:
                          description: 'WhatsApp ID _(supported channels: WhatsApp)_'
                          type: string
                    minItems: 0
                  urls:
                    description: A list of contact URLs
                    type: array
                    items:
                      type: object
                      properties:
                        url:
                          description: URL
                          type: string
                          example: 'https://www.zenvia.com'
                        type:
                          description: The type of the phone number
                          type: string
                          enum:
                            - HOME
                            - WORK
                          example: WORK
                    minItems: 0
                required:
                  - name
              minItems: 1
          required:
            - type
            - contacts
    content.file:
      type: object
      allOf:
        - $ref: '#/components/schemas/content.base'
        - type: object
          properties:
            type:
              type: string
              example: file
            fileUrl:
              type: string
              description: The URL of the file to be sent.
              example: 'https://example.com/document.pdf'
            fileMimeType:
              type: string
              description: 'MIME type of the file to be sent. If not sent, the MIME type will be identified using the content type sent in the request header. For [WhatsApp channel](#tag/WhatsApp), see [supported contents and sizes.](#section/Limitations)'
              example: application/pdf
            fileCaption:
              type: string
              description: 'Some description for the file. Only applicable to [WhatsApp channel](#tag/WhatsApp) and [RCS channel](#tag/RCS) images and videos.'
              example: Some caption
            fileName:
              type: string
              description: 'The name of the file. Only applicable to [WhatsApp channel](#tag/WhatsApp) documents.'
              example: document.pdf
          required:
            - type
            - fileUrl
    content.json:
      type: object
      allOf:
        - $ref: '#/components/schemas/content.base'
        - type: object
          properties:
            type:
              type: string
              example: json
            payload:
              type: object
          required:
            - type
            - payload
    content.location:
      type: object
      allOf:
        - $ref: '#/components/schemas/content.base'
        - type: object
          properties:
            type:
              type: string
              example: location
            longitude:
              type: number
              description: Longitude of the location
              example: -122.425332
            latitude:
              type: number
              description: Latitude of the location
              example: 37.758056
            name:
              type: string
              description: Name of the location
              example: Home
            address:
              type: string
              description: Address of the location. Only displayed if name is present.
              example: Home Address
            url:
              type: string
              description: 'URL for the website where the location information was downloaded. _(WhatsApp restriction: available only on IN direction)_'
              example: 'https://www.zenvia.com'
          required:
            - type
            - longitude
            - latitude
    content.template:
      type: object
      allOf:
        - $ref: '#/components/schemas/content.base'
        - type: object
          properties:
            type:
              type: string
              example: template
            templateId:
              type: string
              description: 'The template identifier. Click <a href="https://app.zenvia.com/home/templates" target="_blank">here</a> to go to the template page.'
              example: c2c3e42d-6fb7-4ad6-897a-dd7613469f58
            fields:
              type: object
              description: The available fields to be used in this template.
              example:
                user: John Smith
                protocol: '34534252'
          required:
            - type
            - templateId
    content.text:
      type: object
      allOf:
        - $ref: '#/components/schemas/content.base'
        - type: object
          properties:
            type:
              type: string
              example: text
            text:
              description: Text to be sent
              type: string
              example: This is a text.
            payload:
              description: Payload of selected button.
              type: string
              readOnly: true
          required:
            - type
            - text
    content.tts:
      title: Text to speech
      description: Send a text to speech
      type: object
      properties:
        type:
          type: string
        text:
          description: Text that will be read in the call with the chosen voice type
          type: string
          example: This is a text
        voiceStyle:
          type: string
          description: Language and type of the audio message
          enum:
            - br-Camila
            - br-Vitoria
            - br-Ricardo
            - en-Joey
            - en-Joanna
            - fre-Celine
            - fre-Mathieu
            - ger-Vicki
            - ger-Hans
            - ita-Carla
            - ita-Giorgio
            - jap-Mizuki
            - pol-Jan
            - rus-Tatyana
            - rus-Maxim
            - esp-Conchita
            - esp-Enrique
          default: br-Vitoria
          example: br-Ricardo
        awaitRecipientAnswer:
          description: Await recipient answer
          type: boolean
          example: true
      required:
        - type
        - text
    content.facebook.all:
      oneOf:
        - $ref: '#/components/schemas/content.text'
        - $ref: '#/components/schemas/content.file'
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/content.text'
          file: '#/components/schemas/content.file'
    content.nestable-contents.all-buttons:
      oneOf:
        - $ref: '#/components/schemas/content.nestable-contents.postback'
        - $ref: '#/components/schemas/content.nestable-contents.web-url'
        - $ref: '#/components/schemas/content.nestable-contents.calendar-event'
        - $ref: '#/components/schemas/content.nestable-contents.dial'
        - $ref: '#/components/schemas/content.nestable-contents.share-location'
        - $ref: '#/components/schemas/content.nestable-contents.view-location'
        - $ref: '#/components/schemas/content.nestable-contents.search-location'
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/content.nestable-contents.postback'
          link: '#/components/schemas/content.nestable-contents.web-url'
          calendar_event: '#/components/schemas/content.nestable-contents.calendar-event'
          dial: '#/components/schemas/content.nestable-contents.dial'
          share_location: '#/components/schemas/content.nestable-contents.share-location'
          view_location: '#/components/schemas/content.nestable-contents.view-location'
          search_location: '#/components/schemas/content.nestable-contents.search-location'
    content.nestable-contents.base:
      type: object
      properties:
        type:
          title: Button type
          description: Button type discriminator
          type: string
        text:
          type: string
          description: Text to be displayed inside the button.
          example: Click me!
        payload:
          type: string
          description: 'Content to be sent back as a message event when the user clicks on the button. By default, the text of the button will be used as payload.'
          example: clicked
    content.nestable-contents.buttons-list:
      type: array
      title: Buttons
      description: |-
        Vertical list of buttons displayed inside a card. These will *not* fade away once one is clicked.
            <br><br>*A maximum of 4 buttons is supported by RCS channel, but they might not be shown if they do not fit in the available space.*
      maxItems: 4
      items:
        $ref: '#/components/schemas/content.nestable-contents.all-buttons'
    content.nestable-contents.calendar-event:
      type: object
      description: Opens the standard calendar application on the user's device and creates a new event with the sent data.
      allOf:
        - $ref: '#/components/schemas/content.nestable-contents.base'
        - type: object
          properties:
            startTime:
              type: string
              description: Start date and time of the event formatted following RFC3339 standard (similar to ISO 8601). Default timezone is UTC.
              example: '2021-01-15T17:30:00-03:00'
            endTime:
              type: string
              description: End date and time of the event formatted following RFC3339 standard (similar to ISO 8601). Default timezone is UTC.
              example: '2021-01-15T17:30:00-03:00'
            title:
              type: string
              description: Event description.
              example: API development
          required:
            - type
            - text
            - startTime
            - endTime
            - title
    content.nestable-contents.dial:
      type: object
      description: Opesn the default dial opp on the user's device.
      allOf:
        - $ref: '#/components/schemas/content.nestable-contents.base'
        - type: object
          properties:
            phoneNumber:
              type: string
              description: Phone Number (E.164 format).
              example: '+558006464777'
          required:
            - type
            - text
            - phoneNumber
    content.nestable-contents.media-base:
      type: object
      properties:
        url:
          type: string
          description: |-
            Public URL of media file, which can be an image, a GIF or a video, which will be diplayed in the card.
                    <br><br>*Videos will display a play button instead of a preview of the content.*
          example: 'https://zenvia.br/zenvia-team.png'
        disposition:
          type: string
          description: 'Controls where in the card the media will be shown, and some values also influence the media height.'
          default: ON_THE_TOP_SHORT_HEIGHT
        caption:
          type: string
          description: 'Media content description, used by screen readers to help users with disability to understand the context.'
          example: Zenvia's team picture
      required:
        - url
    content.nestable-contents.postback:
      type: object
      description: Send back a text message event when the user clicks on the button.
      allOf:
        - $ref: '#/components/schemas/content.nestable-contents.base'
        - type: object
          required:
            - type
            - text
    content.nestable-contents.quick-reply-list:
      type: array
      title: Quick reply buttons
      description: |-
        Horizontal list of buttons displayed after the content. These *will* fade away once one is clicked.
            <br><br>*A maximum of 11 buttons is supported by RCS channel.*
      maxItems: 11
      items:
        $ref: '#/components/schemas/content.nestable-contents.all-buttons'
    content.nestable-contents.search-location:
      type: object
      description: Opens the standard calendar application on the user's device and creates a new event with the sent data.
      allOf:
        - $ref: '#/components/schemas/content.nestable-contents.base'
        - type: object
          properties:
            query:
              type: string
              description: 'A text, for example, an address or a company name, to be searched in the default user''s map application.'
              example: 'Av. Paulista, 2300 - São Paulo'
          required:
            - type
            - text
            - query
    content.nestable-contents.share-location:
      type: object
      description: Opens the default app for maps on the user's device and requests the user's location.
      allOf:
        - $ref: '#/components/schemas/content.nestable-contents.base'
        - type: object
          required:
            - type
            - text
    content.nestable-contents.view-location:
      type: object
      description: Opens the standard calendar application on the user's device and creates a new event with the sent data.
      allOf:
        - $ref: '#/components/schemas/content.nestable-contents.base'
        - type: object
          properties:
            latitude:
              type: string
              description: Latitude in degrees (range from -90.0 and +90.0).
              example: '-23.557260'
            longitude:
              type: string
              description: Longitude in degrees (range from -180.0 and +180.0).
              example: '-46.661030'
            label:
              type: string
              description: Text to be displayed with the map position pin icon.
              example: Zenvia
          required:
            - type
            - text
            - latitude
            - longitude
    content.nestable-contents.web-url:
      type: object
      description: Opens a URL on user's device and sends the payload field content to the Agent.
      allOf:
        - $ref: '#/components/schemas/content.nestable-contents.base'
        - type: object
          properties:
            url:
              type: string
              description: URL to be accessed upon click.
              example: 'https://zenvia.com/'
          required:
            - type
            - text
            - url
    content.rcs.all:
      oneOf:
        - $ref: '#/components/schemas/content.text'
        - $ref: '#/components/schemas/content.file'
        - $ref: '#/components/schemas/content.card'
        - $ref: '#/components/schemas/content.carousel'
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/content.text'
          file: '#/components/schemas/content.file'
          card: '#/components/schemas/content.card'
          carousel: '#/components/schemas/content.carousel'
    content.sms.all:
      oneOf:
        - $ref: '#/components/schemas/content.sms.text'
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/content.sms.text'
    content.sms.text:
      type: object
      allOf:
        - $ref: '#/components/schemas/content.text'
        - type: object
          properties:
            encodingStrategy:
              type: string
              enum:
                - AUTO
                - MORE_CHARACTER_SUPPORT
                - MORE_CHARACTERS_PER_MESSAGE
              default: AUTO
              description: |-
                The method used for selecting the message encoding used to dispatch the message to the provider.
                          <br>The default value **AUTO** will select the encoding method based on the text content, so this is only necessary
                          if you need to enforce **MORE_CHARACTERS_PER_MESSAGE** method (not recommended), or to enforce **MORE_CHARACTER_SUPPORT**
                          if you have any trouble with **AUTO**.
                          <br>*Only applicable to [SMS channel](#tag/SMS).*
              example: AUTO
    content.voice.all:
      oneOf:
        - $ref: '#/components/schemas/content.voice.call'
      discriminator:
        propertyName: type
        mapping:
          call: '#/components/schemas/content.voice.call'
    content.voice.call:
      type: object
      allOf:
        - $ref: '#/components/schemas/content.base'
        - type: object
          properties:
            type:
              type: string
              example: call
            audio:
              description: A sequence of audio bits forming an message to be played on the start of the call
              type: array
              items:
                anyOf:
                  - $ref: '#/components/schemas/content.tts'
                  - $ref: '#/components/schemas/content.audiofile'
                discriminator:
                  propertyName: type
                  mapping:
                    tts: '#/components/schemas/content.tts'
                    file: '#/components/schemas/content.audiofile'
            transferTo:
              description: Transfer or call to another number after the (optional) audio message has been played
              type: string
              example: '5511999999999'
            recordAudio:
              description: To record the call
              type: boolean
              example: true
            hangUpOnVoiceMail:
              description: End the call on voice mail
              type: boolean
              example: true
          required:
            - type
    content.whatsapp.all:
      oneOf:
        - $ref: '#/components/schemas/content.text'
        - $ref: '#/components/schemas/content.file'
        - $ref: '#/components/schemas/content.template'
        - $ref: '#/components/schemas/content.contacts'
        - $ref: '#/components/schemas/content.location'
      discriminator:
        propertyName: type
        mapping:
          text: '#/components/schemas/content.text'
          file: '#/components/schemas/content.file'
          template: '#/components/schemas/content.template'
          contacts: '#/components/schemas/content.contacts'
          location: '#/components/schemas/content.location'
    error.base:
      title: Error Object
      description: This is a Error object model.
      type: object
      properties:
        code:
          title: Code
          description: An error code to identify the error programmatically.
          type: string
          readOnly: true
          example: VALIDATION_ERROR
        message:
          title: Message
          description: A human readable text to help on error troubleshooting.
          type: string
          readOnly: true
          example: Validation error
        details:
          title: Details
          description: Error details to help identify the problem source.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/error.errors'
      required:
        - code
        - message
    error.errors:
      title: Error object
      description: This is a Error object schema.
      type: object
      properties:
        code:
          title: Code
          description: Detail error code.
          type: string
          readOnly: true
        path:
          title: Path
          description: Error path.
          type: string
          readOnly: true
        message:
          title: Message
          description: Human readable message.
          type: string
          readOnly: true
      required:
        - code
        - message
    events.all:
      oneOf:
        - $ref: '#/components/schemas/events.message-event'
        - $ref: '#/components/schemas/events.message-status-event'
      discriminator:
        propertyName: type
        mapping:
          MESSAGE: '#/components/schemas/events.message-event'
          MESSAGE_STATUS: '#/components/schemas/events.message-status-event'
    events.base:
      type: object
      properties:
        id:
          title: Event Id
          type: string
        timestamp:
          title: Event Timestamp
          type: string
          format: date-time
        type:
          title: Event type
          type: string
          enum:
            - MESSAGE
            - MESSAGE_STATUS
        subscriptionId:
          title: Subscription Id
          type: string
    events.error-cause:
      type: object
      properties:
        channelErrorCode:
          title: Channel Error Code
          description: An error code returned by the channel.
          type: string
        reason:
          title: Reason
          description: A likely raw message with the information about the status.
          type: string
        details:
          title: Details
          description: A human readable text to help identify the error reason.
          type: string
    events.message-event:
      type: object
      allOf:
        - $ref: '#/components/schemas/events.base'
        - type: object
          properties:
            type:
              title: Event type
              type: string
              enum:
                - MESSAGE
                - MESSAGE_STATUS
              example: MESSAGE
            direction:
              title: Message Direction
              type: string
            channel:
              title: Message channel
              type: string
            message:
              $ref: '#/components/schemas/message.all'
    events.message-status-event:
      type: object
      allOf:
        - $ref: '#/components/schemas/events.base'
        - type: object
          properties:
            type:
              title: Event type
              type: string
              enum:
                - MESSAGE
                - MESSAGE_STATUS
              example: MESSAGE_STATUS
            channel:
              title: Message channel
              type: string
            messageId:
              title: Message ID
              description: The ID of the message whose status is being delived
              type: string
            contentIndex:
              title: Index of content that is receiving the status update
              type: number
            messageStatus:
              $ref: '#/components/schemas/events.message-status'
    events.message-status:
      type: object
      properties:
        timestamp:
          title: Status timestamp
          type: string
          format: date-time
        code:
          title: Status code
          description: Code that indicates the message status
          type: string
          enum:
            - REJECTED
            - SENT
            - DELIVERED
            - NOT_DELIVERED
            - READ
        description:
          title: Status description
          description: A description of status
          type: string
        causes:
          title: Status causes
          description: A list of errors or cause of status
          type: array
          items:
            $ref: '#/components/schemas/events.error-cause'
      required:
        - code
        - timestamp
    message.all:
      type: object
      allOf:
        - $ref: '#/components/schemas/message.base'
        - type: object
          properties:
            visitor:
              $ref: '#/components/schemas/message.visitor'
            contents:
              title: Message Contents
              description: A list of content to be sent
              type: array
              items:
                $ref: '#/components/schemas/content.whatsapp.all'
              minItems: 1
            idRef:
              description: 'When an user sends a message quoting a previous message, the identifier of the quoted message will be provided here.<br>*Only applicable to [WhatsApp channel](#tag/WhatsApp).*'
              type: string
              readOnly: true
    message.base:
      title: Message Object
      description: This is a Message object model.
      type: object
      properties:
        id:
          title: Message ID
          description: An ID for this message. This can be used for future message consulting or callback notifications.
          type: string
          readOnly: true
        from:
          title: Sender ID
          description: |-
            This is the identifier of sender of this message. The sender is created when an integration for the channel is connected
                    on the [integrations console](https://app.zenvia.com/home/credentials).
                    <br>More details on the channel's *sender and recipient* section.
          type: string
        to:
          title: Recipient ID
          description: |-
            The identifier of the contact (varies according to the channel) who will receive the message.
                    <br>More details on the channel's *sender and recipient* section.
          type: string
        direction:
          title: Message direction
          description: It indicates if message is received from channel (IN) or is sent to channel (OUT)
          type: string
          enum:
            - IN
            - OUT
          readOnly: true
        channel:
          title: Channel
          description: Message channel
          type: string
          readOnly: true
        contents:
          title: Message Contents
          description: A list of content to be sent
          type: array
          items:
            type: object
          minItems: 1
        timestamp:
          title: Message timestamp
          type: string
          format: date-time
          readOnly: true
      required:
        - from
        - to
        - contents
    message.channel:
      type: string
      title: Channel
      description: Message channel
    message.facebook:
      type: object
      allOf:
        - $ref: '#/components/schemas/message.base'
        - type: object
          properties:
            contents:
              title: Message Contents
              description: A list of content to be sent
              type: array
              items:
                $ref: '#/components/schemas/content.facebook.all'
              minItems: 1
    message.rcs:
      type: object
      allOf:
        - $ref: '#/components/schemas/message.base'
        - type: object
          properties:
            contents:
              title: Message Contents
              description: A list of content to be sent
              type: array
              items:
                $ref: '#/components/schemas/content.rcs.all'
              minItems: 1
    message.sms:
      type: object
      allOf:
        - $ref: '#/components/schemas/message.base'
        - type: object
          properties:
            contents:
              title: Message Contents
              description: A list of content to be sent
              type: array
              items:
                $ref: '#/components/schemas/content.sms.all'
              minItems: 1
    message.visitor:
      title: Visitor Object
      description: It indicates the name of the visitor who sent the message
      type: object
      properties:
        name:
          title: Name
          description: Full name of the visitor
          type: string
        firstName:
          title: First name
          description: First name of the visitor
          type: string
        lastName:
          title: Last name
          description: Last name of the visitor
          type: string
    message.voice:
      type: object
      allOf:
        - $ref: '#/components/schemas/message.base'
        - type: object
          properties:
            contents:
              title: Message Contents
              description: A list of content to be sent
              type: array
              items:
                $ref: '#/components/schemas/content.voice.all'
              minItems: 1
    message.whatsapp:
      type: object
      allOf:
        - $ref: '#/components/schemas/message.base'
        - type: object
          properties:
            contents:
              title: Message Contents
              description: A list of content to be sent
              type: array
              items:
                $ref: '#/components/schemas/content.whatsapp.all'
              minItems: 1
    reports.flow.entries.base:
      title: Entry object for Flow Report
      description: The entry object model for Flow Report.
      type: object
      properties:
        flowId:
          title: Flow ID
          description: The flow identifier.
          type: string
        dispatchId:
          title: Dispatch ID
          description: The dispatch identifier.
          type: string
        sessionId:
          title: Session ID
          description: 'This ID represents a flow execution. In case of conversational flows, it identifies the conversation in our platform.'
          type: string
        firstEventTimestamp:
          title: First event timestamp
          description: Time of the first event with the client.
          type: string
        lastEventTimestamp:
          title: Last event timestamp
          description: Time of the last event with the client.
          type: string
        variables:
          title: Objects of varibles
          description: Object where session variables are saved.
          type: object
    reports.message.entry.base:
      title: Entry object for Message Report
      description: The entry object model for Message Report.
      type: object
      properties:
        channel:
          title: Channel
          type: string
          readOnly: true
        type:
          title: Message type
          description: 'The type of messages, which may be either "message" or "notification".'
          type: string
          readOnly: true
        directionInTotal:
          title: IN messages total
          description: The total of IN direction messages.
          type: number
          readOnly: true
        directionOutTotal:
          title: OUT messages total
          description: The total of OUT direction messages.
          type: number
          readOnly: true
        total:
          title: Messages total
          description: The total of messages including IN and OUT directions.
          type: number
          readOnly: true
    subscription.all:
      oneOf:
        - $ref: '#/components/schemas/subscription.message-subscription'
        - $ref: '#/components/schemas/subscription.message-status-subscription'
      discriminator:
        propertyName: eventType
        mapping:
          MESSAGE: '#/components/schemas/subscription.message-subscription'
          MESSAGE_STATUS: '#/components/schemas/subscription.message-status-subscription'
    subscription.base:
      type: object
      properties:
        id:
          title: Subscription Id
          type: string
          readOnly: true
        eventType:
          title: Event type to subscribe
          type: string
          enum:
            - MESSAGE
            - MESSAGE_STATUS
        webhook:
          allOf:
            - $ref: '#/components/schemas/subscription.webhook'
            - type: object
              required:
                - url
        status:
          $ref: '#/components/schemas/subscription.status'
        version:
          title: Version of subscription
          type: string
          enum:
            - v1
            - v2
          default: v2
        createdAt:
          title: Creation timestamp
          description: Creation timestamp in ISO format
          type: string
          readOnly: true
        updatedAt:
          title: Update timestamp
          description: Update timestamp in ISO format
          type: string
          readOnly: true
      required:
        - eventType
        - webhook
    subscription.message-status-subscription:
      type: object
      allOf:
        - $ref: '#/components/schemas/subscription.base'
        - type: object
          properties:
            criteria:
              type: object
              properties:
                channel:
                  $ref: '#/components/schemas/message.channel'
              required:
                - channel
          required:
            - criteria
    subscription.message-subscription:
      type: object
      allOf:
        - $ref: '#/components/schemas/subscription.base'
        - type: object
          properties:
            criteria:
              type: object
              properties:
                channel:
                  $ref: '#/components/schemas/message.channel'
                direction:
                  title: Message direction
                  description: It indicates if message is received from channel (IN) or is sent to channel (OUT)
                  type: string
                  enum:
                    - IN
                    - OUT
              required:
                - channel
          required:
            - criteria
    subscription.partial-subscription:
      type: object
      properties:
        webhook:
          $ref: '#/components/schemas/subscription.webhook'
        status:
          $ref: '#/components/schemas/subscription.status'
    subscription.status:
      title: Status of subscription
      type: string
      enum:
        - ACTIVE
        - DEGRADED
        - INACTIVE
    subscription.webhook:
      type: object
      properties:
        url:
          title: Webhook URL
          description: URL to post events
          type: string
        headers:
          title: Request headers
          type: object
    templates.partial-template:
      title: Template Object
      description: This is a Template object model.
      type: object
      properties:
        locale:
          $ref: '#/components/schemas/templates.template-locale'
        category:
          $ref: '#/components/schemas/templates.template-category'
        components:
          $ref: '#/components/schemas/templates.components.index'
        notificationEmail:
          $ref: '#/components/schemas/templates.template-notification-email'
    templates.template-category:
      title: Category
      description: Category of use for this template
      type: string
      enum:
        - ACCOUNT_UPDATE
        - PAYMENT_UPDATE
        - PERSONAL_FINANCE_UPDATE
        - SHIPPING_UPDATE
        - RESERVATION_UPDATE
        - ISSUE_RESOLUTION
        - APPOINTMENT_UPDATE
        - TRANSPORTATION_UPDATE
        - TICKET_UPDATE
        - ALERT_UPDATE
        - AUTO_REPLY
    templates.template-comment:
      type: object
      required:
        - author
        - role
        - text
      properties:
        id:
          title: Comment ID
          type: string
          readOnly: true
        author:
          title: Author
          description: Author
          type: string
        role:
          title: Role
          description: Author role
          type: string
          enum:
            - REQUESTER
            - REVIEWER
            - WHATSAPP
        text:
          title: Text
          description: Comment text
          type: string
        createdAt:
          title: Creation timestamp
          description: Creation timestamp in ISO format
          type: string
          readOnly: true
        updatedAt:
          title: Update timestamp
          description: Update timestamp in ISO format
          type: string
          readOnly: true
    templates.template-locale:
      title: Locale
      description: Template language and locale
      type: string
      enum:
        - af
        - sq
        - ar
        - az
        - bn
        - bg
        - ca
        - zh_CN
        - zh_HK
        - zh_TW
        - hr
        - cs
        - da
        - nl
        - en
        - en_GB
        - en_US
        - et
        - fil
        - fi
        - fr
        - de
        - el
        - gu
        - ha
        - he
        - hi
        - hu
        - id
        - ga
        - it
        - ja
        - kn
        - kk
        - ko
        - lo
        - lv
        - lt
        - mk
        - ms
        - ml
        - mr
        - nb
        - fa
        - pl
        - pt_BR
        - pt_PT
        - pa
        - ro
        - ru
        - sr
        - sk
        - sl
        - es
        - es_AR
        - es_ES
        - es_MX
        - sw
        - sv
        - ta
        - te
        - th
        - tr
        - uk
        - ur
        - uz
        - vi
        - zu
    templates.template-notification-email:
      title: Notification e-mail
      description: E-mail list (comma-separated) to send notifications about the message template approving process.
      type: string
    templates.template:
      title: Template Object
      description: This is a Template object model.
      type: object
      required:
        - name
        - locale
        - channel
        - senderId
        - category
        - components
      properties:
        id:
          title: Template ID
          type: string
          readOnly: true
        name:
          title: Template name
          description: The name of this template
          type: string
        locale:
          $ref: '#/components/schemas/templates.template-locale'
        channel:
          title: Channel
          description: 'Channel for template use. For now, only WHATSAPP channel is allowed.'
          type: string
          enum:
            - WHATSAPP
        senderId:
          title: Sender ID
          description: This is the identifier of sender for this template. The sender shoud be created with a credential.
          type: string
        category:
          $ref: '#/components/schemas/templates.template-category'
        components:
          $ref: '#/components/schemas/templates.components.index'
        notificationEmail:
          $ref: '#/components/schemas/templates.template-notification-email'
        text:
          title: Template text
          description: This is a text reference for this template. This field is a merge of all content components.
          type: string
          readOnly: true
        fields:
          title: Fields
          description: The available fields to be used in this template.
          type: array
          items:
            type: string
          minItems: 0
          readOnly: true
        comments:
          title: Comments
          description: Comments added to the template during the approval process.
          type: array
          readOnly: true
          items:
            $ref: '#/components/schemas/templates.template-comment'
        status:
          title: Status of template
          type: string
          readOnly: true
          enum:
            - WAITING_REVIEW
            - REJECTED
            - WAITING_APPROVAL
            - APPROVED
        createdAt:
          title: Creation timestamp
          description: Creation timestamp in ISO format
          type: string
          readOnly: true
        updatedAt:
          title: Update timestamp
          description: Update timestamp in ISO format
          type: string
          readOnly: true
    templates.components.index:
      title: Components
      description: Message content of this template
      type: object
      required:
        - body
      properties:
        header:
          $ref: '#/components/schemas/templates.components.header.index'
        body:
          $ref: '#/components/schemas/templates.components.body.index'
        footer:
          $ref: '#/components/schemas/templates.components.footer.index'
        buttons:
          $ref: '#/components/schemas/templates.components.buttons.index'
    templates.components.body.index:
      title: Body
      description: Template body
      type: object
      required:
        - type
        - text
      properties:
        type:
          title: Body type
          description: 'The body should have a fixed or variable text. Variable text can have variables using format _{{var_name}}_'
          type: string
          enum:
            - TEXT_FIXED
            - TEXT_TEMPLATE
        text:
          title: Body text
          type: string
    templates.components.buttons.actions:
      type: object
      allOf:
        - $ref: '#/components/schemas/templates.components.buttons.base'
        - type: object
          properties:
            items:
              title: Buttons
              description: List of buttons. Only one URL and phone number can be sent
              maxItems: 2
              type: array
              items:
                type: object
                oneOf:
                  - $ref: '#/components/schemas/templates.components.buttons.button-item-url'
                  - $ref: '#/components/schemas/templates.components.buttons.button-item-phone-number'
                required:
                  - type
                discriminator:
                  propertyName: type
                  mapping:
                    URL: '#/components/schemas/templates.components.buttons.button-item-url'
                    PHONE_NUMBER: '#/components/schemas/templates.components.buttons.button-item-phone-number'
          required:
            - items
    templates.components.buttons.base:
      type: object
      properties:
        type:
          title: Content type
          type: string
      required:
        - type
    templates.components.buttons.button-item-base:
      type: object
      properties:
        type:
          title: Button type
          enum:
            - URL
            - PHONE_NUMBER
            - QUICK_REPLY
          type: string
        text:
          title: Button text
          type: string
      required:
        - type
        - text
    templates.components.buttons.button-item-phone-number:
      type: object
      allOf:
        - $ref: '#/components/schemas/templates.components.buttons.button-item-base'
        - type: object
          properties:
            phoneNumber:
              title: Phone number of button
              description: Phone number to be sent in the button
              type: string
          required:
            - type
            - text
            - phoneNumber
    templates.components.buttons.button-item-quick-reply:
      type: object
      allOf:
        - $ref: '#/components/schemas/templates.components.buttons.button-item-base'
        - type: object
          properties:
            payload:
              type: string
              title: Payload of button
              description: This payload is used for identify the click in the callback
          required:
            - type
            - text
            - payload
    templates.components.buttons.button-item-url:
      type: object
      allOf:
        - $ref: '#/components/schemas/templates.components.buttons.button-item-base'
        - type: object
          properties:
            url:
              title: URL of button
              description: URL to be sent in the button. It can be dynamic
              type: string
          required:
            - type
            - text
            - url
    templates.components.buttons.index:
      title: Buttons
      description: Template buttons
      type: object
      oneOf:
        - $ref: '#/components/schemas/templates.components.buttons.actions'
        - $ref: '#/components/schemas/templates.components.buttons.quick-replies'
      required:
        - type
      discriminator:
        propertyName: type
        mapping:
          ACTIONS: '#/components/schemas/templates.components.buttons.actions'
          QUICK_REPLIES: '#/components/schemas/templates.components.buttons.quick-replies'
    templates.components.buttons.quick-replies:
      type: object
      allOf:
        - $ref: '#/components/schemas/templates.components.buttons.base'
        - type: object
          properties:
            items:
              title: Buttons
              description: List of buttons
              maxItems: 3
              type: array
              items:
                type: object
                oneOf:
                  - $ref: '#/components/schemas/templates.components.buttons.button-item-quick-reply'
                required:
                  - type
                discriminator:
                  propertyName: type
                  mapping:
                    QUICK_REPLY: '#/components/schemas/templates.components.buttons.button-item-quick-reply'
          required:
            - items
    templates.components.footer.index:
      title: Footer
      description: Template footer
      type: object
      required:
        - type
        - text
      properties:
        type:
          title: Footer type
          description: The footer can only be a fixed text
          type: string
          enum:
            - TEXT_FIXED
        text:
          title: Footer text
          type: string
    templates.components.header.index:
      title: Header
      description: Template header
      type: object
      required:
        - type
      properties:
        type:
          title: Header type
          description: 'The header can have an image, document or text.'
          type: string
          enum:
            - MEDIA_DOCUMENT
            - MEDIA_IMAGE
            - MEDIA_VIDEO
            - TEXT_FIXED
            - TEXT_TEMPLATE
        text:
          title: Header text
          type: string
  responses:
    error:
      description: 'Error response. See the [Error Handling](#section/API-Design/Error-Handling) section for details.'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/error.base'
  parameters:
    chatbotId:
      name: chatbotId
      in: path
      required: true
      description: the chatbot identifier
      schema:
        type: string
    subscriptionId:
      name: subscriptionId
      in: path
      required: true
      description: the subscription identifier
      schema:
        type: string
    templateCommentId:
      name: templateCommentId
      in: path
      required: true
      description: the comment identifier.
      schema:
        type: string
    templateId:
      name: templateId
      in: path
      required: true
      description: 'the template identifier. Click <a href="https://app.zenvia.com/home/templates">here</a>.'
      schema:
        type: string
    reports.flow.dispatchId:
      name: dispatchId
      in: query
      required: false
      description: This is the ID generated at the time of dispatch.
      schema:
        title: Dispatch ID
        type: string
    reports.flow.endDate:
      name: endDate
      in: query
      required: false
      description: The end of the period to query entries.
      schema:
        type: string
        format: date
    reports.flow.flowId:
      name: flowId
      in: query
      required: false
      description: 'This is the flow identifier. You can view your <a href="https://app.zenvia.com/home/chatbot" target="_blank"> Flow IDs here.</a>'
      schema:
        title: Flow ID
        type: string
    reports.flow.sessionId:
      name: sessionId
      in: query
      required: false
      description: 'This ID represents a flow execution. In case of conversational flows, it identifies the conversation in our platform.'
      schema:
        title: Session ID
        type: string
    reports.flow.startDate:
      name: startDate
      in: query
      required: true
      description: The start of the period to query entries.
      schema:
        type: string
        format: date
    reports.message.channels:
      name: channels
      in: query
      required: false
      description: A comma-separated list of the channels identifier.
      schema:
        type: string
    reports.message.endDate:
      name: endDate
      in: query
      required: true
      description: The end of the period to query entries.
      schema:
        type: string
        format: date
    reports.message.startDate:
      name: startDate
      in: query
      required: true
      description: The start of the period to query entries.
      schema:
        type: string
        format: date
    reports.message.type:
      name: type
      in: query
      required: false
      description: The type of the messages.
      schema:
        type: string
        enum:
          - message
          - notification
    templates.channel:
      name: channel
      in: query
      required: false
      description: Filter by channel
      schema:
        type: string
        enum:
          - WHATSAPP
      example: WHATSAPP
    templates.senderId:
      name: senderId
      in: query
      required: false
      description: Filter by senderId
      schema:
        type: string
      example: b5agf1-y237-11e8-b127-1230f6c2d98m
    templates.status:
      name: status
      in: query
      description: Filter by status
      required: false
      schema:
        type: string
        enum:
          - WAITING_REVIEW
          - REJECTED
          - WAITING_APPROVAL
          - APPROVED
      example: APPROVED
  examples: {}
  requestBodies: {}
  headers: {}
  securitySchemes:
    JWT:
      description: User JWT token used for Zenvia front-end service
      type: http
      scheme: bearer
      bearerFormat: JWT
    TOKEN:
      description: Token created on API console for clients using server to server integration
      type: apiKey
      in: header
      name: X-API-TOKEN
  links: {}
  callbacks:
    subscription-event:
      '{$request.body#/webhook/url}':
        post:
          requestBody:
            content:
              application/json:
                schema:
                  $ref: '#/components/schemas/events.all'
          responses:
            '200':
              description: webhook successfully processed and no retries will be performed
security:
  - JWT: []
  - TOKEN: []
tags:
  - name: Content types
    description: |
      ## Supported Channels

      Messaging can be handled through SMS, WhatsApp, Facebook and RCS channels. For each content type, covered in the next section, the following table reflects the applicability in relation to these channels:

      | Content Type | SMS      | Facebook | WhatsApp | RCS      | Voice    |
      |:-------------|:---------|:---------|:---------|:---------|:---------|
      | text         | &#10004; | &#10004; | &#10004; | &#10004; | &#10005; |
      | file         | &#10005; | &#10004; | &#10004; | &#10004; | &#10005; | 
      | contacts     | &#10005; | &#10005; | &#10004; | &#10005; | &#10005; |
      | location     | &#10005; | &#10005; | &#10004; | &#10005; | &#10005; |
      | template     | &#10005; | &#10005; | &#10004; | &#10005; | &#10005; |
      | call         | &#10005; | &#10005; | &#10005; | &#10005; | &#10004; |
      | carousel     | &#10005; | &#10005; | &#10004; | &#10004; | &#10005; |

      ## Text
      This type of content is the most used one and is composed of plain text.

      <SchemaDefinition schemaRef="#/components/schemas/content.text" showWriteOnly="true" />

      ## File
      This type of content is used to send a file to the user. Depending on the file type, the file itself will be displayed with a different appearance. There are four types of presentation:
      * Image
      * Video
      * Audio
      * Document

      <SchemaDefinition schemaRef="#/components/schemas/content.file" showWriteOnly="true" />

      ## Contacts
      This type of content is used to send contact information to the user.

      <SchemaDefinition schemaRef="#/components/schemas/content.contacts" showWriteOnly="true" />

      ## Location
      This type of content is used to send location messages represented as a point on the map to the user.

[...]
