{
  "openapi": "3.0.2",
  "info": {
    "version": "2.0.0",
    "title": "ZenAPI",
    "description": "# Overview\n\nThis is the reference documentation for the Zenvia *REST-like* API. The API itself is based on resources that are represented by JSON format and are manipulated using the HTTP protocol.\n\n## Features\n\nYou can send messages through the [Zenvia-supported channels](#section/Supported-Channels).\n\nYou can also subscribe to events and receive them on a webhook of your choosing. The available events for each and every channel are:\n\n* Messages: Receive messages events for outgoing and/or incoming messages.\n* Messages status: Receive status updates for outgoing messages.\n\n## Pre-requisites\n\nBefore using this API you need the following:\n\n* **Zenvia Account**: create an account on [Zenvia platform's site](https://app.zenvia.com/)\n* **Integrations**: configure desired channels to send and/or receive messages on the [integrations page](https://app.zenvia.com/home/credentials)\n* **API Token**: create an API token on the [API console](https://app.zenvia.com/home/api)\n* **Webhook** (optional): receive messages by subscribing to events using [subscriptions API resources](#tag/Subscriptions)\n\nYou can use the [Sandbox](#section/Getting-started-with-Sandbox) to start using and testing this API immediately.\n\n## View your Usage Report\nYou can also access Zenvia platform to view your [Usage Report](https://app.zenvia.com/notifications/dashboard/api)\n\n# Getting started with Sandbox\n\nThe fastest way to begin utilizing this API is with our [Sandbox (available on the Zenvia platform)](https://app.zenvia.com/home/sandbox).\n\nAs you create your new Sandbox, you'll be guided step-by-step in order to start sending and receiving messages using your desired channel.\n\n[Click here and start sending and receiving messages using RCS, WhatsApp or SMS using this API.](https://app.zenvia.com/home/sandbox)\n\nYou are allowed to send test messages to phone numbers you've connected during a 24-hour period. Following that, you must reconnect your number by sending the keyword once again to continue using the Sandbox's features.\n\n# API versions\n\nAll notable changes to ZenAPI will be documented here.\n\n<!-- The format is based on Keep a Changelog: http://keepachangelog.com/en/1.0.0/ -->\n<!-- and this project adheres to Semantic Versioning: http://semver.org/spec/v2.0.0.html -->\n\nCurrently, the ZenAPI is on version v2.\n\n## v2 (current)\n\n### 2021-05-24\n\n* Added\n    * Added the referral section that indicates an advertisement was clicked by the user to the [message event](#section/MESSAGE) received by the webhook\n\n### 2020-10-27\n\n* Added\n    * Added RCS Channels sections.\n\n### 2020-09-24\n\n* Added\n    * Added message-batches: API to send messages in batch.\n\n### 2020-09-01\n\n* Breaking Changes\n    * Visitor not sent as a JSON within contents block. Instead, it's sent directly under the message object.\n    * Location is no longer used as JSON.\n    * Removed deprecated `channels` attribute from the template resource.\n\n## v1 (deprecated)\n\nYou can still check v1 version clicking <a target=\"_blank\" href=\"https://zenvia.github.io/zenvia-openapi-spec/v1/\">here</a>.\n\n\n### 2020-02-01\n\n* Added\n    * Added templates.\n    * Added reporting API.\n\n### 2020-01-01\n\n* Added\n    * Added Subscription section.\n    * Added WhatsApp, SMS, and Facebook Channels sections.\n\n# SDKs\n\nMake it simpler to use our API by integrating our SDK into your software.\n\nThese helper libraries are available on [Node](https://github.com/zenvia/zenvia-sdk-node) and [Java](https://github.com/zenvia/zenvia-sdk-java) programming languages and located on our [GitHub](https://github.com/zenvia) page.\n\n# HTTP Methods\n\nHTTP methods are used to manipulate resources. Though, as not all resources allow all HTTP operations, observeOK the reference of each resource below.\n\nMethods used with collection endpoints:\n\n| HTTP Method      | Operation                | Success HTTP status |\n|:-----------------|:-------------------------|:--------------------|\n| GET              | List collection items    | 200 - OK            |\n| POST             | Create a new item        | 200 - OK            |\n\nMethods used with item endpoints:\n\n| HTTP Method      | Operation                    | Success HTTP status |\n|:-----------------|:-----------------------------|:--------------------|\n| GET              | Retrieve one resource item   | 200 - OK            |\n| DELETE           | Delete one resource item     | 204 - No content    |\n| PATCH            | Update one resource item     | 200 - OK            |\n\nWhen an operation is executed successfully, the API will respond with a 2xx status code.\n\n# Error Handling\n\nWhen one error occurs, the API will return a 4xx or 5xx HTTP status code and the payload with an Error Object.\n\nThe error object obeys the follwing schema:\n\n<SchemaDefinition schemaRef=\"#/components/schemas/error.base\" />\n\nResponses error codes are detailed below.\n\n| Http Status Code | Code                 | Message                          | Retry request |\n|:-----------------|:---------------------|:---------------------------------|:--------------|\n| 400              | VALIDATION_ERROR     | Validation error                 | No            |\n| 401              | AUTHENTICATION_ERROR | No authorization token was found | No            |\n| 404              | NOT_FOUND            | Not found                        | No            |\n| 409              | DUPLICATED           | Entity already exists            | No            |\n| 500              | INTERNAL_ERROR       | Internal error                   | Yes           |\n\n# Authentication\n\n## Token\nTo use this API you need to send the API token in every request.\n\nThe token needs to be sent in the HTTP header 'X-API-TOKEN'.\n\nExample:\n```X-API-TOKEN: hKp94crjv9OF3UGrCpSXUJw1-UYHhRvLKNLt```\n\nGenerate your token on the [API console](https://app.zenvia.com/home/api) on Zenvia platform.\n\n## JWT\n\nThe JWT token is primarily used by front-end applications for user interactions.\n\nFor server-to-server integrations use the [token authentication](/#section/Authentication/TOKEN) approach.\n",
    "termsOfService": "https://zenvia.com/",
    "contact": {
      "name": "API Support",
      "email": "atendimento@zenvia.com",
      "url": "https://zenapi.zenvia.com/"
    },
    "license": {
      "name": "MIT",
      "url": "https://raw.githubusercontent.com/zenvia/zenvia-openapi-spec/master/LICENSE.md"
    },
    "x-logo": {
      "url": "https://zenvia-static.s3.amazonaws.com/brand/zenvia-brand-mark-regular.svg"
    }
  },
  "servers": [
    {
      "url": "https://api.zenvia.com/v2"
    }
  ],
  "paths": {
    "/message-batches": {
      "post": {
        "description": "Create batch",
        "tags": [
          "Batches"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "contacts": {
                    "type": "string",
                    "title": "Binary CSV File",
                    "description": "Binary csv file with recipients and variable values ​​when necessary."
                  },
                  "batch": {
                    "$ref": "#/components/schemas/batches.multipart-batch"
                  }
                },
                "required": [
                  "contacts",
                  "batch"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created batch",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/batches.multipart-batch"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/channels/facebook/messages": {
      "post": {
        "description": "Send a Facebook message",
        "tags": [
          "Facebook"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/message.facebook"
              },
              "examples": {
                "text": {
                  "value": {
                    "from": "5510999999999",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "text",
                        "text": "Hi Zenvia!"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/message.facebook"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "Bash",
            "source": "curl \"https://api.zenvia.com/v2/channels/facebook/messages\" \\\n-H \"Content-Type: application/json\" \\\n-H \"X-API-TOKEN: YOUR_API_TOKEN\" \\\n-d '{\n  \"from\": \"sender-identifier\",\n  \"to\": \"recipient-identifier\",\n  \"contents\": [{\n    \"type\": \"text\",\n    \"text\": \"Some text message\"\n  }]\n}'\n"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const { post } = require('request-promise');\n\npost({\n  uri: 'https://api.zenvia.com/v2/channels/facebook/messages',\n  headers: {\n    'X-API-TOKEN': 'YOUR_API_TOKEN'\n  },\n  body: {\n    from: 'sender-identifier',\n    to: 'recipient-identifier',\n    contents: [{\n      type: 'text',\n      text: 'Some text message'\n    }]\n  },\n  json: true\n})\n.then((response) => {\n  console.log('Response:', response);\n})\n.catch((error) => {\n  console.log('Error:', error);\n});\n"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js SDK",
            "source": "/**\n * Example: https://github.com/zenvia/zenvia-sdk-node/blob/master/examples/facebook-send-text-message.js\n */\n\nimport { Client, TextContent } from '@zenvia/sdk';\n\nconst client = new Client('YOUR_API_TOKEN');\n\nconst facebook = client.getChannel('facebook');\n\nconst content = new TextContent('Some text message');\n\nfacebook.sendMessage('sender-identifier', 'recipient-identifier', content)\n.then((response) => {\n  console.log('Response:', response);\n})\n.catch((error) => {\n  console.log('Error:', error);\n});\n"
          },
          {
            "lang": "Java",
            "label": "Java SDK",
            "source": "import com.zenvia.api.sdk.client.Channel;\nimport com.zenvia.api.sdk.client.apache.Client;\nimport com.zenvia.api.sdk.contents.TextContent;\nimport com.zenvia.api.sdk.messages.Message;\n\npublic class FacebookSendTextMessage {\n\n  public static void main (String arg []) {\n    Client client = new Client(\"YOUR_API_TOKEN\");\n\n    Channel facebook = client.getChannel(\"facebook\");\n\n    TextContent content = new TextContent(\"Some text message\");\n\n    try {\n      Message response = facebook.sendMessage(\"sender-identifier\", \"recipient-identifier\", content);\n      System.out.println(\"Response: \" + response.toString());\n    } catch(Exception e) {\n      System.out.println(\"Error: \" + e.getMessage());\n    }\n  }\n\n}\n"
          }
        ]
      }
    },
    "/channels/gbm/messages": {
      "post": {
        "description": "Send a Google Business Messages message",
        "tags": [
          "Google Business Messages"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/message.gbm"
              },
              "examples": {
                "text": {
                  "value": {
                    "from": "5510999999999",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "text",
                        "text": "Hi Zenvia!"
                      }
                    ]
                  }
                },
                "file": {
                  "value": {
                    "from": "5510999999999",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "file",
                        "fileUrl": "https://zenvia.br/zenvia-team.png",
                        "fileMimeType": "image/png",
                        "fileCaption": "Our pic :)",
                        "fileName": "team.png"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/message.gbm"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "Bash",
            "source": "curl \"https://api.zenvia.com/v2/channels/gbm/messages\" \\\n-H \"Content-Type: application/json\" \\\n-H \"X-API-TOKEN: YOUR_API_TOKEN\" \\\n-d '{\n  \"from\": \"sender-identifier\",\n  \"to\": \"recipient-identifier\",\n  \"contents\": [{\n    \"type\": \"text\",\n    \"text\": \"Some text message\"\n  }]\n}'\n"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const { post } = require('request-promise');\n\npost({\n  uri: 'https://api.zenvia.com/v2/channels/gbm/messages',\n  headers: {\n    'X-API-TOKEN': 'YOUR_API_TOKEN'\n  },\n  body: {\n    from: 'sender-identifier',\n    to: 'recipient-identifier',\n    contents: [{\n      type: 'text',\n      text: 'Some text message'\n    }]\n  },\n  json: true\n})\n.then((response) => {\n  console.log('Response:', response);\n})\n.catch((error) => {\n  console.log('Error:', error);\n});\n"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js SDK",
            "source": "/**\n * Example: https://github.com/zenvia/zenvia-sdk-node/blob/master/examples/gbm-send-text-message.js\n */\n\nimport { Client, TextContent } from '@zenvia/sdk';\n\nconst client = new Client('YOUR_API_TOKEN');\n\nconst gbm = client.getChannel('gbm');\n\nconst content = new TextContent('Some text message');\n\nfacebook.sendMessage('sender-identifier', 'recipient-identifier', content)\n.then((response) => {\n  console.log('Response:', response);\n})\n.catch((error) => {\n  console.log('Error:', error);\n});\n"
          },
          {
            "lang": "Java",
            "label": "Java SDK",
            "source": "import com.zenvia.api.sdk.client.Channel;\nimport com.zenvia.api.sdk.client.apache.Client;\nimport com.zenvia.api.sdk.contents.TextContent;\nimport com.zenvia.api.sdk.messages.Message;\n\npublic class GBMSendTextMessage {\n\n  public static void main (String arg []) {\n    Client client = new Client(\"YOUR_API_TOKEN\");\n\n    Channel gbm = client.getChannel(\"gbm\");\n\n    TextContent content = new TextContent(\"Some text message\");\n\n    try {\n      Message response = gbm.sendMessage(\"sender-identifier\", \"recipient-identifier\", content);\n      System.out.println(\"Response: \" + response.toString());\n    } catch(Exception e) {\n      System.out.println(\"Error: \" + e.getMessage());\n    }\n  }\n\n}\n"
          }
        ]
      }
    },
    "/channels/instagram/messages": {
      "post": {
        "description": "Send a Instagram message",
        "tags": [
          "Instagram"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/message.instagram"
              },
              "examples": {
                "text": {
                  "value": {
                    "from": "5510999999999",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "text",
                        "text": "Hi Zenvia!"
                      }
                    ]
                  }
                },
                "file": {
                  "value": {
                    "from": "5510999999999",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "file",
                        "fileUrl": "https://zenvia.br/zenvia-team.png",
                        "fileMimeType": "image/png",
                        "fileCaption": "Our pic :)",
                        "fileName": "team.png"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/message.instagram"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/channels/rcs/messages": {
      "post": {
        "description": "Send a RCS message",
        "tags": [
          "RCS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/message.rcs"
              },
              "examples": {
                "text": {
                  "value": {
                    "from": "5510999999999",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "text",
                        "text": "Hi Zenvia!"
                      }
                    ]
                  }
                },
                "file": {
                  "value": {
                    "from": "5510999999999",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "file",
                        "fileUrl": "https://zenvia.br/zenvia-team.png",
                        "fileMimeType": "image/png",
                        "fileCaption": "Our pic :)",
                        "fileName": "team.png"
                      }
                    ]
                  }
                },
                "card": {
                  "value": {
                    "from": "5510999999999",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "card",
                        "title": "Card from Zenvia",
                        "text": "This is our products",
                        "media": {
                          "url": "https://zenvia.br/zenvia-office.png",
                          "disposition": "ON_THE_TOP_MEDIUM_HEIGHT",
                          "caption": "Our amazing office!"
                        },
                        "buttons": [
                          {
                            "type": "link",
                            "text": "Site",
                            "url": "https://www.zenvia.com/"
                          }
                        ],
                        "quickReplyButtons": [
                          {
                            "type": "text",
                            "text": "Click here",
                            "payload": "success"
                          }
                        ]
                      }
                    ]
                  }
                },
                "carousel": {
                  "value": {
                    "from": "5510999999999",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "carousel",
                        "cardWidth": "MEDIUM",
                        "cards": [
                          {
                            "title": "Card from Zenvia",
                            "text": "This is our products",
                            "media": {
                              "url": "https://zenvia.br/zenvia-office.png",
                              "disposition": "ON_THE_TOP_MEDIUM_HEIGHT",
                              "caption": "Our amazing office!"
                            },
                            "buttons": [
                              {
                                "type": "link",
                                "text": "Site",
                                "url": "https://www.zenvia.com/"
                              }
                            ],
                            "quickReplyButtons": [
                              {
                                "type": "text",
                                "text": "Click here",
                                "payload": "success"
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/message.rcs"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/channels/sms/messages": {
      "post": {
        "description": "Send a SMS message",
        "tags": [
          "SMS"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/message.sms"
              },
              "examples": {
                "text": {
                  "value": {
                    "from": "5510999999999",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "text",
                        "text": "Hi Zenvia!"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/message.sms"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "Bash",
            "source": "curl \"https://api.zenvia.com/v2/channels/sms/messages\" \\\n-H \"Content-Type: application/json\" \\\n-H \"X-API-TOKEN: YOUR_API_TOKEN\" \\\n-d '{\n  \"from\": \"sender-identifier\",\n  \"to\": \"recipient-identifier\",\n  \"contents\": [{\n    \"type\": \"text\",\n    \"text\": \"Some text message\"\n  }]\n}'\n"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const { post } = require('request-promise');\n\npost({\n  uri: 'https://api.zenvia.com/v2/channels/sms/messages',\n  headers: {\n    'X-API-TOKEN': 'YOUR_API_TOKEN'\n  },\n  body: {\n    from: 'sender-identifier',\n    to: 'recipient-identifier',\n    contents: [{\n      type: 'text',\n      text: 'Some text message'\n    }]\n  },\n  json: true\n})\n.then((response) => {\n  console.log('Response:', response);\n})\n.catch((error) => {\n  console.log('Error:', error);\n});\n"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js SDK",
            "source": "/**\n * Example: https://github.com/zenvia/zenvia-sdk-node/blob/master/examples/sms-send-text-message.js\n */\n\nimport { Client, TextContent } from '@zenvia/sdk';\n\nconst client = new Client('YOUR_API_TOKEN');\n\nconst sms = client.getChannel('sms');\n\nconst content = new TextContent('Some text message');\n\nsms.sendMessage('sender-identifier', 'recipient-identifier', content)\n.then((response) => {\n  console.log('Response:', response);\n})\n.catch((error) => {\n  console.log('Error:', error);\n});\n"
          },
          {
            "lang": "Java",
            "label": "Java SDK",
            "source": "import com.zenvia.api.sdk.client.Channel;\nimport com.zenvia.api.sdk.client.apache.Client;\nimport com.zenvia.api.sdk.contents.TextContent;\nimport com.zenvia.api.sdk.messages.Message;\n\npublic class SmsSendTextMessage {\n\n  public static void main (String arg []) {\n    Client client = new Client(\"YOUR_API_TOKEN\");\n\n    Channel sms = client.getChannel(\"sms\");\n\n    TextContent content = new TextContent(\"Some text message\");\n\n    try {\n      Message response = sms.sendMessage(\"sender-identifier\", \"recipient-identifier\", content);\n      System.out.println(\"Response: \" + response.toString());\n    } catch(Exception e) {\n      System.out.println(\"Error: \" + e.getMessage());\n    }\n  }\n\n}\n"
          }
        ]
      }
    },
    "/channels/telegram/messages": {
      "post": {
        "description": "Send a Telegram message",
        "tags": [
          "Telegram"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/message.telegram"
              },
              "examples": {
                "text": {
                  "value": {
                    "from": "5510999999999",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "text",
                        "text": "Hi Zenvia!"
                      }
                    ]
                  }
                },
                "file": {
                  "value": {
                    "from": "5510999999999",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "file",
                        "fileUrl": "https://zenvia.br/zenvia-team.png",
                        "fileMimeType": "image/png",
                        "fileCaption": "Our pic :)",
                        "fileName": "team.png"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/message.telegram"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "Bash",
            "source": "curl \"https://api.zenvia.com/v2/channels/telegram/messages\" \\\n-H \"Content-Type: application/json\" \\\n-H \"X-API-TOKEN: YOUR_API_TOKEN\" \\\n-d '{\n  \"from\": \"sender-identifier\",\n  \"to\": \"recipient-identifier\",\n  \"contents\": [{\n    \"type\": \"text\",\n    \"text\": \"Some text message\"\n  }]\n}'\n"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const { post } = require('request-promise');\n\npost({\n  uri: 'https://api.zenvia.com/v2/channels/telegram/messages',\n  headers: {\n    'X-API-TOKEN': 'YOUR_API_TOKEN'\n  },\n  body: {\n    from: 'sender-identifier',\n    to: 'recipient-identifier',\n    contents: [{\n      type: 'text',\n      text: 'Some text message'\n    }]\n  },\n  json: true\n})\n.then((response) => {\n  console.log('Response:', response);\n})\n.catch((error) => {\n  console.log('Error:', error);\n});\n"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js SDK",
            "source": "/**\n * Example: https://github.com/zenvia/zenvia-sdk-node/blob/master/examples/telegram-send-text-message.js\n */\n\nimport { Client, TextContent } from '@zenvia/sdk';\n\nconst client = new Client('YOUR_API_TOKEN');\n\nconst telegram = client.getChannel('telegram');\n\nconst content = new TextContent('Some text message');\n\ntelegram.sendMessage('sender-identifier', 'recipient-identifier', content)\n.then((response) => {\n  console.log('Response:', response);\n})\n.catch((error) => {\n  console.log('Error:', error);\n});\n"
          },
          {
            "lang": "Java",
            "label": "Java SDK",
            "source": "import com.zenvia.api.sdk.client.Channel;\nimport com.zenvia.api.sdk.client.apache.Client;\nimport com.zenvia.api.sdk.contents.TextContent;\nimport com.zenvia.api.sdk.messages.Message;\n\npublic class TelegramSendTextMessage {\n\n  public static void main (String arg []) {\n    Client client = new Client(\"YOUR_API_TOKEN\");\n\n    Channel telegram = client.getChannel(\"telegram\");\n\n    TextContent content = new TextContent(\"Some text message\");\n\n    try {\n      Message response = telegram.sendMessage(\"sender-identifier\", \"recipient-identifier\", content);\n      System.out.println(\"Response: \" + response.toString());\n    } catch(Exception e) {\n      System.out.println(\"Error: \" + e.getMessage());\n    }\n  }\n\n}\n"
          }
        ]
      }
    },
    "/channels/voice/messages": {
      "post": {
        "description": "Send a Voice message",
        "tags": [
          "Voice"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/message.voice"
              },
              "examples": {
                "tts": {
                  "value": {
                    "from": "12345a123a1234a1a2a123a1234ab1ab",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "call",
                        "audio": [
                          {
                            "type": "tts",
                            "text": "Hi Zenvia!",
                            "voiceStyle": "br-Vitoria",
                            "awaitRecipientAnswer": true
                          }
                        ]
                      }
                    ],
                    "recordAudio": true,
                    "hangUpOnVoiceMail": true
                  }
                },
                "tts_transferTo": {
                  "value": {
                    "from": "12345a123a1234a1a2a123a1234ab1ab",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "call",
                        "audio": [
                          {
                            "type": "tts",
                            "text": "Hi Zenvia!",
                            "voiceStyle": "br-Vitoria",
                            "awaitRecipientAnswer": true
                          }
                        ]
                      }
                    ],
                    "transferTo": "5511999999999",
                    "recordAudio": true,
                    "hangUpOnVoiceMail": true
                  }
                },
                "file": {
                  "value": {
                    "from": "12345a123a1234a1a2a123a1234ab1ab",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "call",
                        "audio": [
                          {
                            "type": "file",
                            "fileUrl": "http://fooooo.bar/audio.mp3"
                          }
                        ]
                      }
                    ],
                    "recordAudio": true,
                    "hangUpOnVoiceMail": true
                  }
                },
                "file_transferTo": {
                  "value": {
                    "from": "12345a123a1234a1a2a123a1234ab1ab",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "call",
                        "audio": [
                          {
                            "type": "file",
                            "fileUrl": "http://fooooo.bar/audio.mp3"
                          }
                        ]
                      }
                    ],
                    "transferTo": "5511999999999",
                    "recordAudio": true,
                    "hangUpOnVoiceMail": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/message.voice"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "Bash",
            "source": "curl \"https://api.zenvia.com/v2/channels/voice/messages\" \\\n-H \"Content-Type: application/json\" \\\n-H \"X-API-TOKEN: YOUR_API_TOKEN\" \\\n-d '{\n  \"from\": \"sender-identifier\",\n  \"to\": \"recipient-identifier\",\n  \"contents\": [{\n    \"type\": \"text\",\n    \"text\": \"Some text message\"\n  }]\n}'\n"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const { post } = require('request-promise');\n\npost({\n  uri: 'https://api.zenvia.com/v2/channels/voice/messages',\n  headers: {\n    'X-API-TOKEN': 'YOUR_API_TOKEN'\n  },\n  body: {\n    from: 'sender-identifier',\n    to: 'recipient-identifier',\n    contents: [{\n      type: 'text',\n      text: 'Some text message'\n    }]\n  },\n  json: true\n})\n.then((response) => {\n  console.log('Response:', response);\n})\n.catch((error) => {\n  console.log('Error:', error);\n});\n"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js SDK",
            "source": "/**\n * Example: https://github.com/zenvia/zenvia-sdk-node/blob/master/examples/whatsapp-send-text-message.js\n */\n\nimport { Client, TextContent } from '@zenvia/sdk';\n\nconst client = new Client('YOUR_API_TOKEN');\n\nconst voice = client.getChannel('voice');\n\nconst content = new TextContent('Some text message');\n\nvoice.sendMessage('sender-identifier', 'recipient-identifier', content)\n.then((response) => {\n  console.log('Response:', response);\n})\n.catch((error) => {\n  console.log('Error:', error);\n});\n"
          },
          {
            "lang": "Java",
            "label": "Java SDK",
            "source": "import com.zenvia.api.sdk.client.Channel;\nimport com.zenvia.api.sdk.client.apache.Client;\nimport com.zenvia.api.sdk.contents.TextContent;\nimport com.zenvia.api.sdk.messages.Message;\n\npublic class VoiceSendTextMessage {\n\n  public static void main (String arg []) {\n    Client client = new Client(\"YOUR_API_TOKEN\");\n\n    Channel voice = client.getChannel(\"voice\");\n\n    TextContent content = new TextContent(\"Some text message\");\n\n    try {\n      Message response = voice.sendMessage(\"sender-identifier\", \"recipient-identifier\", content);\n      System.out.println(\"Response: \" + response.toString());\n    } catch(Exception e) {\n      System.out.println(\"Error: \" + e.getMessage());\n    }\n  }\n\n}\n"
          }
        ]
      }
    },
    "/channels/whatsapp/messages": {
      "post": {
        "description": "Send a WhatsApp message",
        "tags": [
          "WhatsApp"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/message.whatsapp"
              },
              "examples": {
                "text": {
                  "value": {
                    "from": "5510999999999",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "text",
                        "text": "Hi Zenvia!"
                      }
                    ]
                  }
                },
                "file": {
                  "value": {
                    "from": "5510999999999",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "file",
                        "fileUrl": "https://zenvia.br/zenvia-team.png",
                        "fileMimeType": "image/png",
                        "fileCaption": "Our pic :)",
                        "fileName": "team.png"
                      }
                    ]
                  }
                },
                "template": {
                  "value": {
                    "from": "5510999999999",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "template",
                        "templateId": "template_id",
                        "fields": {
                          "name": "Jhon",
                          "product": "Zenvia Chat"
                        }
                      }
                    ]
                  }
                },
                "contacts": {
                  "value": {
                    "from": "5510999999999",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "contacts",
                        "contacts": [
                          {
                            "addresses": [
                              {
                                "street": "Av. Paulista, 2300",
                                "city": "São Paulo",
                                "state": "São Paulo",
                                "zip": "01310-300",
                                "county": "Brazil",
                                "countryCode": "BR",
                                "type": "WORK"
                              }
                            ],
                            "birthday": "",
                            "contactImage": "",
                            "emails": [
                              {
                                "email": "jhon@zenvia.com",
                                "type": "WORK"
                              }
                            ],
                            "name": {
                              "formattedName": "Jhon Zenvia",
                              "firstName": "Jhon",
                              "lastName": "Zenvia",
                              "middleName": "",
                              "suffix": "",
                              "prefix": ""
                            },
                            "org": {
                              "company": "Zenvia",
                              "department": "Sales",
                              "title": "Sales"
                            },
                            "phones": [
                              {
                                "phone": "08006464777",
                                "type": "WORK",
                                "waId": "132465"
                              }
                            ],
                            "urls": [
                              {
                                "url": "https://www.zenvia.com/",
                                "type": "WORK"
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                },
                "location": {
                  "value": {
                    "from": "5510999999999",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "location",
                        "latitude": -23.55726,
                        "longitude": -46.66103,
                        "name": "Zenvia",
                        "address": "Av. Paulista, 2300 - 18º Andar - Bela Vista, São Paulo - SP, 01310-300",
                        "url": "https://www.zenvia.com/"
                      }
                    ]
                  }
                },
                "button": {
                  "value": {
                    "from": "5510999999999",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "button",
                        "header": {
                          "type": "file",
                          "fileUrl": "https://zenvia.br/zenvia-team.png"
                        },
                        "body": "Your message body text here",
                        "footer": "Your message footer text here",
                        "buttons": [
                          {
                            "id": "btn1",
                            "title": "Button One"
                          },
                          {
                            "id": "btn2",
                            "title": "Button Two"
                          }
                        ]
                      }
                    ]
                  }
                },
                "list": {
                  "value": {
                    "from": "5510999999999",
                    "to": "55108888888888",
                    "contents": [
                      {
                        "type": "list",
                        "header": "Message Header",
                        "body": "Your message body text here",
                        "footer": "Your message footer text here",
                        "button": "Button Text",
                        "sections": [
                          {
                            "title": "Section Title",
                            "rows": [
                              {
                                "id": "row1",
                                "title": "Item One",
                                "description": "Item one description."
                              },
                              {
                                "id": "row2",
                                "title": "Item Two",
                                "description": "Item two description."
                              },
                              {
                                "id": "row3",
                                "title": "Item Three",
                                "description": "Item three description."
                              }
                            ]
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created message",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/message.whatsapp"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "x-code-samples": [
          {
            "lang": "Shell",
            "label": "Bash",
            "source": "curl \"https://api.zenvia.com/v2/channels/whatsapp/messages\" \\\n-H \"Content-Type: application/json\" \\\n-H \"X-API-TOKEN: YOUR_API_TOKEN\" \\\n-d '{\n  \"from\": \"sender-identifier\",\n  \"to\": \"recipient-identifier\",\n  \"contents\": [{\n    \"type\": \"text\",\n    \"text\": \"Some text message\"\n  }]\n}'\n"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js",
            "source": "const { post } = require('request-promise');\n\npost({\n  uri: 'https://api.zenvia.com/v2/channels/whatsapp/messages',\n  headers: {\n    'X-API-TOKEN': 'YOUR_API_TOKEN'\n  },\n  body: {\n    from: 'sender-identifier',\n    to: 'recipient-identifier',\n    contents: [{\n      type: 'text',\n      text: 'Some text message'\n    }]\n  },\n  json: true\n})\n.then((response) => {\n  console.log('Response:', response);\n})\n.catch((error) => {\n  console.log('Error:', error);\n});\n"
          },
          {
            "lang": "JavaScript",
            "label": "Node.js SDK",
            "source": "/**\n * Example: https://github.com/zenvia/zenvia-sdk-node/blob/master/examples/whatsapp-send-text-message.js\n */\n\nimport { Client, TextContent } from '@zenvia/sdk';\n\nconst client = new Client('YOUR_API_TOKEN');\n\nconst whatsapp = client.getChannel('whatsapp');\n\nconst content = new TextContent('Some text message');\n\nwhatsapp.sendMessage('sender-identifier', 'recipient-identifier', content)\n.then((response) => {\n  console.log('Response:', response);\n})\n.catch((error) => {\n  console.log('Error:', error);\n});\n"
          },
          {
            "lang": "Java",
            "label": "Java SDK",
            "source": "import com.zenvia.api.sdk.client.Channel;\nimport com.zenvia.api.sdk.client.apache.Client;\nimport com.zenvia.api.sdk.contents.TextContent;\nimport com.zenvia.api.sdk.messages.Message;\n\npublic class WhatsAppSendTextMessage {\n\n  public static void main (String arg []) {\n    Client client = new Client(\"YOUR_API_TOKEN\");\n\n    Channel whatsapp = client.getChannel(\"whatsapp\");\n\n    TextContent content = new TextContent(\"Some text message\");\n\n    try {\n      Message response = whatsapp.sendMessage(\"sender-identifier\", \"recipient-identifier\", content);\n      System.out.println(\"Response: \" + response.toString());\n    } catch(Exception e) {\n      System.out.println(\"Error: \" + e.getMessage());\n    }\n  }\n\n}\n"
          }
        ]
      }
    },
    "/reports/flow/entries": {
      "get": {
        "description": "Retrieve all entries applying the given filters",
        "tags": [
          "Flow Report"
        ],
        "responses": {
          "200": {
            "description": "Flow report entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/reports.flow.entries.base"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/reports.flow.startDate"
        },
        {
          "$ref": "#/components/parameters/reports.flow.endDate"
        },
        {
          "$ref": "#/components/parameters/reports.flow.flowId"
        },
        {
          "$ref": "#/components/parameters/reports.flow.dispatchId"
        },
        {
          "$ref": "#/components/parameters/reports.flow.sessionId"
        }
      ]
    },
    "/reports/message/entries": {
      "get": {
        "description": "Retrieve all entries applying the given filters",
        "tags": [
          "Message Report"
        ],
        "responses": {
          "200": {
            "description": "Message report entries",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/reports.message.entry.base"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/reports.message.startDate"
        },
        {
          "$ref": "#/components/parameters/reports.message.endDate"
        },
        {
          "$ref": "#/components/parameters/reports.message.channels"
        },
        {
          "$ref": "#/components/parameters/reports.message.type"
        }
      ]
    },
    "/subscriptions": {
      "post": {
        "description": "Create a new webhook",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Created subscription",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscription.all"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/subscription.all"
              }
            }
          }
        },
        "callbacks": {
          "onEvent": {
            "$ref": "#/components/callbacks/subscription-event"
          }
        }
      },
      "get": {
        "description": "List all webhooks",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhook Object List",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/subscription.all"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/subscriptions/{subscriptionId}": {
      "get": {
        "description": "Retrieve one webhook by id",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "200": {
            "description": "Webhook Object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscription.all"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "description": "Delete one webhook by id",
        "tags": [
          "Webhooks"
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "description": "Update one webhook by id",
        "tags": [
          "Webhooks"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/subscription.partial-subscription"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook Object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/subscription.all"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/subscriptionId"
        }
      ]
    },
    "/templates": {
      "post": {
        "description": "Create a new",
        "tags": [
          "Templates"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/templates.template"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created template",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/templates.template"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "get": {
        "description": "List all templates",
        "tags": [
          "Templates"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/templates.channel"
          },
          {
            "$ref": "#/components/parameters/templates.senderId"
          },
          {
            "$ref": "#/components/parameters/templates.status"
          }
        ],
        "responses": {
          "200": {
            "description": "Template Object List",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/templates.template"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      }
    },
    "/templates/{templateId}": {
      "get": {
        "description": "Retrieve one template by id",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Template Object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/templates.template"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "delete": {
        "description": "Delete one template by id",
        "tags": [
          "Templates"
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "patch": {
        "description": "Update one template by id",
        "tags": [
          "Templates"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/templates.partial-template"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Template Object",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/templates.template"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/templateId"
        }
      ]
    },
    "/templates/{templateId}/comments": {
      "post": {
        "description": "Create a new comment",
        "tags": [
          "Templates"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/templates.template-comment"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created comment",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/templates.template-comment"
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "get": {
        "description": "List all comments",
        "tags": [
          "Templates"
        ],
        "responses": {
          "200": {
            "description": "Comment Object List",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/templates.template-comment"
                  }
                }
              }
            }
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/templateId"
        }
      ]
    },
    "/templates/{templateId}/comments/{templateCommentId}": {
      "delete": {
        "description": "Delete comment by id",
        "tags": [
          "Templates"
        ],
        "responses": {
          "204": {
            "description": "No content"
          },
          "default": {
            "$ref": "#/components/responses/error"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/templateId"
        },
        {
          "$ref": "#/components/parameters/templateCommentId"
        }
      ]
    }
  },
  "components": {
    "schemas": {
      "batches.base": {
        "title": "Batch Object",
        "description": "This is a Batch object model",
        "type": "object",
        "properties": {
          "id": {
            "title": "Batch ID",
            "description": "Batch identifier created automatically",
            "type": "string",
            "example": "ad48e792-7d6e-464f-a478-df3239475016",
            "readOnly": true
          },
          "name": {
            "title": "Batch Name",
            "description": "Batch identification name",
            "type": "string",
            "example": "My batch name"
          },
          "channel": {
            "title": "Channel",
            "description": "Message channel",
            "type": "string"
          }
        },
        "required": [
          "name",
          "channel"
        ]
      },
      "batches.multipart-batch": {
        "title": "Batch Object",
        "description": "This is a Batch object model",
        "oneOf": [
          {
            "$ref": "#/components/schemas/batches.multipart.batch.sms"
          },
          {
            "$ref": "#/components/schemas/batches.multipart.batch.whatsapp"
          }
        ],
        "discriminator": {
          "propertyName": "channel",
          "mapping": {
            "sms": "#/components/schemas/batches.multipart.batch.sms",
            "whatsapp": "#/components/schemas/batches.multipart.batch.whatsapp"
          }
        }
      },
      "batches.multipart.base": {
        "title": "Batch Object",
        "description": "This is a Batch object model",
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/batches.base"
          },
          {
            "type": "object",
            "properties": {
              "columnMapper": {
                "$ref": "#/components/schemas/batches.multipart.columnMapper"
              },
              "message": {
                "$ref": "#/components/schemas/batches.multipart.message"
              }
            },
            "required": [
              "message",
              "columnMapper"
            ]
          }
        ]
      },
      "batches.multipart.batch.sms": {
        "allOf": [
          {
            "$ref": "#/components/schemas/batches.multipart.base"
          },
          {
            "type": "object",
            "properties": {
              "message": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/batches.multipart.content.text"
                        }
                      ],
                      "discriminator": {
                        "propertyName": "type",
                        "mapping": {
                          "text": "#/components/schemas/batches.multipart.content.text"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "batches.multipart.batch.whatsapp": {
        "allOf": [
          {
            "$ref": "#/components/schemas/batches.multipart.base"
          },
          {
            "type": "object",
            "properties": {
              "message": {
                "type": "object",
                "properties": {
                  "contents": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "$ref": "#/components/schemas/batches.multipart.content.template"
                        }
                      ],
                      "discriminator": {
                        "propertyName": "type",
                        "mapping": {
                          "template": "#/components/schemas/batches.multipart.content.template"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        ]
      },
      "batches.multipart.columnMapper": {
        "title": "Column Mapper",
        "description": "The mapping of variables in relation to the columns of the file. This indicates in which column of the file is the value that must be used to fill each variable. The **recipient_header_name** variable is required so the values below it indicate that they are a recipient's contact number.",
        "type": "object",
        "example": {
          "recipient_header_name": "recipient_number_column",
          "name": "recipient_name_column",
          "protocol": "protocol_column"
        },
        "properties": {
          "recipient_header_name": {
            "title": "Recipient header name",
            "description": "Recipient header name",
            "type": "string",
            "example": "recipient_header_name"
          }
        },
        "required": [
          "recipient_header_name"
        ]
      },
      "batches.multipart.message": {
        "title": "Message Object",
        "description": "This is a Message object model",
        "type": "object",
        "properties": {
          "from": {
            "title": "Sender ID",
            "description": "The identifier of the sender of the message. The sender shoud be created with a credential.",
            "type": "string"
          },
          "contents": {
            "title": "Message Contents",
            "description": "A list of content to be sent",
            "type": "array",
            "minItems": 1,
            "items": {
              "type": "object"
            }
          }
        },
        "required": [
          "from",
          "contents"
        ]
      },
      "batches.multipart.content.template": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/content.base"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "template"
              },
              "templateId": {
                "type": "string",
                "description": "The template identifier. Click <a href=\"https://app.zenvia.com/home/templates\" target=\"_blank\">here</a> to go to the template page.",
                "example": "c2c3e42d-6fb7-4ad6-897a-dd7613469f58"
              }
            },
            "required": [
              "type",
              "templateId"
            ]
          }
        ]
      },
      "batches.multipart.content.text": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/content.base"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "text"
              },
              "text": {
                "description": "Text to be sent to all recipients in the contact file. The text supports the use of variables, for its creation the following pattern must be used: **{{variable}}**",
                "type": "string",
                "example": "Hello {{name}} your service protocol is number {{protocol}}"
              }
            },
            "required": [
              "type",
              "text"
            ]
          }
        ]
      },
      "content.base": {
        "type": "object",
        "properties": {
          "type": {
            "title": "Content type",
            "description": "Content type discriminator",
            "type": "string"
          }
        },
        "required": [
          "type"
        ]
      },
      "content.call": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/content.base"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "call"
              },
              "audio": {
                "description": "A sequence of audio bits forming a message to be played at the beginning of the call",
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/content.audio-sources.all"
                }
              },
              "transferTo": {
                "description": "Transfer or call to another number when the audio message has been completely played",
                "type": "string",
                "example": "5510999999999"
              },
              "recordAudio": {
                "description": "Record the call",
                "type": "boolean",
                "example": true
              },
              "hangUpOnVoiceMail": {
                "description": "End the call on voicemail",
                "type": "boolean",
                "example": true
              }
            },
            "required": [
              "type"
            ]
          }
        ]
      },
      "content.card": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/content.base"
          },
          {
            "$ref": "#/components/schemas/content.bases.card-base"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "card"
              },
              "media": {
                "type": "object",
                "allOf": [
                  {
                    "$ref": "#/components/schemas/content.bases.card-media-base"
                  },
                  {
                    "type": "object",
                    "properties": {
                      "disposition": {
                        "type": "string",
                        "description": "Controls where in the card the media will be shown, and some values also influence the media height.",
                        "enum": [
                          "ON_THE_LEFT",
                          "ON_THE_RIGHT",
                          "ON_THE_TOP_SHORT_HEIGHT",
                          "ON_THE_TOP_MEDIUM_HEIGHT",
                          "ON_THE_TOP_TALL_HEIGHT"
                        ],
                        "default": "ON_THE_TOP_SHORT_HEIGHT"
                      }
                    }
                  }
                ]
              },
              "quickReplyButtons": {
                "$ref": "#/components/schemas/content.bases.quick-reply-list"
              }
            }
          }
        ]
      },
      "content.carousel": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/content.base"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "carousel"
              },
              "cardWidth": {
                "type": "string",
                "description": "The card width, which is always smaller than the width of the standalone card. The standard card width would be the equivalent of *LARGE* if it were available for use for the cards of the carousel.",
                "enum": [
                  "SMALL",
                  "MEDIUM"
                ],
                "default": "MEDIUM"
              },
              "cards": {
                "description": "The sequence of cards to be shown in the carousel",
                "type": "array",
                "minItems": 1,
                "maxItems": 10,
                "items": {
                  "type": "object",
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/content.bases.card-base"
                    },
                    {
                      "type": "object",
                      "properties": {
                        "media": {
                          "type": "object",
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/content.bases.card-media-base"
                            },
                            {
                              "type": "object",
                              "properties": {
                                "disposition": {
                                  "type": "string",
                                  "enum": [
                                    "ON_THE_TOP_SHORT_HEIGHT",
                                    "ON_THE_TOP_MEDIUM_HEIGHT",
                                    "ON_THE_TOP_TALL_HEIGHT"
                                  ]
                                }
                              }
                            }
                          ]
                        }
                      }
                    }
                  ]
                }
              },
              "quickReplyButtons": {
                "$ref": "#/components/schemas/content.bases.quick-reply-list"
              }
            },
            "required": [
              "type",
              "cards"
            ]
          }
        ]
      },
      "content.contacts": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/content.base"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "contacts"
              },
              "contacts": {
                "description": "A list of contacts",
                "type": "array",
                "items": {
                  "type": "object",
                  "properties": {
                    "addresses": {
                      "description": "A list of contact addresses",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "street": {
                            "description": "Street number and name",
                            "type": "string",
                            "example": "Street Address, 123"
                          },
                          "city": {
                            "description": "City name",
                            "type": "string",
                            "example": "City name"
                          },
                          "state": {
                            "description": "State abbreviation",
                            "type": "string",
                            "example": "SP"
                          },
                          "zip": {
                            "description": "ZIP code",
                            "type": "string",
                            "example": "01000-000"
                          },
                          "country": {
                            "description": "Full country name",
                            "type": "string",
                            "example": "Brazil"
                          },
                          "countryCode": {
                            "description": "Two-letter country abbreviation",
                            "type": "string",
                            "example": "BR"
                          },
                          "type": {
                            "description": "The type of the address",
                            "type": "string",
                            "enum": [
                              "HOME",
                              "WORK"
                            ],
                            "example": "WORK"
                          }
                        }
                      },
                      "minItems": 0
                    },
                    "birthday": {
                      "description": "The birthday of the contact",
                      "type": "string",
                      "example": "11/10/1980"
                    },
                    "contactImage": {
                      "description": "Base64-encoded image. Its value has to be a string based on the Base64 Data Encodings specification (RFC 4648).",
                      "type": "string"
                    },
                    "emails": {
                      "description": "A list of e-mails",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": {
                            "description": "E-mail address",
                            "type": "string",
                            "example": "my-email@email-domain.com"
                          },
                          "type": {
                            "description": "The type of e-mail",
                            "type": "string",
                            "enum": [
                              "HOME",
                              "WORK"
                            ],
                            "example": "HOME"
                          }
                        }
                      },
                      "minItems": 0
                    },
                    "ims": {
                      "description": "A list of messaging contact information",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "service": {
                            "description": "Instant messaging service name",
                            "type": "string",
                            "example": "This is a messaging service"
                          },
                          "userId": {
                            "description": "User identifier in this instant messaging service",
                            "type": "string",
                            "example": "johnsmith"
                          }
                        }
                      },
                      "minItems": 0
                    },
                    "name": {
                      "description": "Full contact name",
                      "type": "object",
                      "properties": {
                        "formattedName": {
                          "description": "Full name as it normally appears",
                          "type": "string",
                          "example": "John Megan Smith"
                        },
                        "firstName": {
                          "description": "First name",
                          "type": "string",
                          "example": "John"
                        },
                        "lastName": {
                          "description": "Last name",
                          "type": "string",
                          "example": "Smith"
                        },
                        "middleName": {
                          "description": "Middle name",
                          "type": "string",
                          "example": "Megan"
                        },
                        "suffix": {
                          "description": "Name suffix",
                          "type": "string",
                          "example": "PhD"
                        },
                        "prefix": {
                          "description": "Name preffix",
                          "type": "string",
                          "example": "Mr."
                        }
                      },
                      "required": [
                        "formattedName",
                        "firstName"
                      ]
                    },
                    "org": {
                      "title": "Organization",
                      "description": "Contact organization information",
                      "type": "object",
                      "properties": {
                        "company": {
                          "description": "Name of the contact's company",
                          "type": "string",
                          "example": "Ms. Sara"
                        },
                        "department": {
                          "description": "Name of the contact's department",
                          "type": "string",
                          "example": "Sales"
                        },
                        "title": {
                          "description": "Contact's business title",
                          "type": "string",
                          "example": "Manager"
                        }
                      }
                    },
                    "phones": {
                      "description": "A list of contact phone numbers",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "phone": {
                            "description": "Formatted phone number",
                            "type": "string",
                            "example": "+5521999998888"
                          },
                          "type": {
                            "description": "The type of the phone number",
                            "type": "string",
                            "enum": [
                              "CELL",
                              "MAIN",
                              "IPHONE",
                              "HOME",
                              "WORK"
                            ],
                            "example": "CELL"
                          },
                          "waId": {
                            "description": "WhatsApp ID _(supported channels: WhatsApp)_",
                            "type": "string"
                          }
                        }
                      },
                      "minItems": 0
                    },
                    "urls": {
                      "description": "A list of contact URLs",
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "description": "URL",
                            "type": "string",
                            "example": "https://www.zenvia.com"
                          },
                          "type": {
                            "description": "The type of the phone number",
                            "type": "string",
                            "enum": [
                              "HOME",
                              "WORK"
                            ],
                            "example": "WORK"
                          }
                        }
                      },
                      "minItems": 0
                    }
                  },
                  "required": [
                    "name"
                  ]
                },
                "minItems": 1
              }
            },
            "required": [
              "type",
              "contacts"
            ]
          }
        ]
      },
      "content.file": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/content.base"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "file"
              },
              "fileUrl": {
                "type": "string",
                "description": "URL of the file to be sent",
                "example": "https://example.com/document.pdf"
              },
              "fileMimeType": {
                "type": "string",
                "description": "MIME type of the file to be sent. If not sent, the MIME type will be identified using the content type sent in the request header. For [WhatsApp channel](#tag/WhatsApp), see [supported contents and sizes.](#section/WhatsApp-limitations)",
                "example": "application/pdf"
              },
              "fileCaption": {
                "type": "string",
                "description": "Some description for the file. Only applicable to [WhatsApp channel](#tag/WhatsApp) and [RCS channel](#tag/RCS) images and videos.",
                "example": "Some caption"
              },
              "fileName": {
                "type": "string",
                "description": "The name of the file. Only applicable to [WhatsApp channel](#tag/WhatsApp) documents.",
                "example": "document.pdf"
              }
            },
            "required": [
              "type",
              "fileUrl"
            ]
          }
        ]
      },
      "content.json": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/content.base"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "json"
              },
              "payload": {
                "type": "object"
              }
            },
            "required": [
              "type",
              "payload"
            ]
          }
        ]
      },
      "content.location": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/content.base"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "location"
              },
              "longitude": {
                "type": "number",
                "description": "Longitude of the location",
                "example": -122.425332
              },
              "latitude": {
                "type": "number",
                "description": "Latitude of the location",
                "example": 37.758056
              },
              "name": {
                "type": "string",
                "description": "Name of the location",
                "example": "Home"
              },
              "address": {
                "type": "string",
                "description": "Address of the location. Only displayed if name is present.",
                "example": "Home Address"
              },
              "url": {
                "type": "string",
                "description": "URL for the website where the location information was downloaded _(WhatsApp restriction: available only on IN direction)_",
                "example": "https://www.zenvia.com"
              }
            },
            "required": [
              "type",
              "longitude",
              "latitude"
            ]
          }
        ]
      },
      "content.template": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/content.base"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "template"
              },
              "templateId": {
                "type": "string",
                "description": "The template identifier. Click <a href=\"https://app.zenvia.com/home/templates\" target=\"_blank\">here</a> to go to the template page.",
                "example": "c2c3e42d-6fb7-4ad6-897a-dd7613469f58"
              },
              "fields": {
                "type": "object",
                "description": "The available fields to be used in this template",
                "example": {
                  "user": "John Smith",
                  "protocol": "34534252"
                }
              }
            },
            "required": [
              "type",
              "templateId"
            ]
          }
        ]
      },
      "content.text": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/content.base"
          },
          {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "example": "text"
              },
              "text": {
                "description": "Text to be sent",
                "type": "string",
                "example": "This is a text."
              },
              "payload": {
                "description": "Payload of selected button",
                "type": "string",
                "readOnly": true
              }
            },
            "required": [
              "type",
              "text"
            ]
          }
        ]
      },
      "content.audio-sources.all": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/content.audio-sources.tts"
          },
          {
            "$ref": "#/components/schemas/content.audio-sources.file"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "tts": "#/components/schemas/content.audio-sources.tts",
            "file": "#/components/schemas/content.audio-sources.file"
          }
        }
      },
      "content.audio-sources.file": {
        "title": "Audio file",
        "description": "URL of audio",
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "fileUrl": {
            "description": "URL of audio",
            "type": "string",
            "example": "http://fooooo.bar/audio.mp3"
          }
        },
        "required": [
          "type",
          "fileUrl"
        ]
      },
      "content.audio-sources.tts": {
        "title": "Text to speech",
        "description": "Send a text to speech",
        "type": "object",
        "properties": {
          "type": {
            "type": "string"
          },
          "text": {
            "description": "Text that will be read on the call with the chosen voice type",
            "type": "string",
            "example": "This is a text"
          },
          "voiceStyle": {
            "type": "string",
            "description": "Language and type of the audio message",
            "enum": [
              "br-Camila",
              "br-Vitoria",
              "br-Ricardo",
              "en-Joey",
              "en-Joanna",
              "fre-Celine",
              "fre-Mathieu",
              "ger-Vicki",
              "ger-Hans",
              "ita-Carla",
              "ita-Giorgio",
              "jap-Mizuki",
              "pol-Jan",
              "rus-Tatyana",
              "rus-Maxim",
              "esp-Conchita",
              "esp-Enrique"
            ],
            "default": "br-Vitoria",
            "example": "br-Ricardo"
          },
          "awaitRecipientAnswer": {
            "description": "Await for the recipient answer",
            "type": "boolean",
            "example": true
          }
        },
        "required": [
          "type",
          "text"
        ]
      },
      "content.bases.buttons-list": {
        "type": "array",
        "title": "Buttons",
        "description": "Vertical list of buttons displayed inside a card. These will *not* fade away once one a button is clicked.\n    <br><br>*A maximum of 4 buttons is supported by RCS channel, but they might not be shown if they do not fit in the available space.*",
        "maxItems": 4,
        "items": {
          "$ref": "#/components/schemas/content.bases.buttons.all"
        }
      },
      "content.bases.card-base": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "A title in bold shown above the text of the card",
            "example": "Hello"
          },
          "text": {
            "type": "string",
            "description": "A text to be displayed inside the card",
            "example": "This is the best thing you will see today!"
          },
          "media": {
            "type": "object"
          },
          "buttons": {
            "$ref": "#/components/schemas/content.bases.buttons-list"
          }
        }
      },
      "content.bases.card-media-base": {
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "Public URL of media file, which can be an image, a GIF, or a video. The public URL will be displayed inside the card.\n        <br><br>*Videos will display a play button instead of a preview of the content sent.*",
            "example": "https://zenvia.br/zenvia-team.png"
          },
          "disposition": {
            "type": "string",
            "description": "Defines the position that the media will be shown inside the card. Some of the values influence the media height.",
            "default": "ON_THE_TOP_SHORT_HEIGHT"
          },
          "caption": {
            "type": "string",
            "description": "Media content description used by screen readers to aid users with disability understand the context",
            "example": "Zenvia's team picture"
          }
        },
        "required": [
          "url"
        ]
      },
      "content.bases.quick-reply-list": {
        "type": "array",
        "title": "Quick reply buttons",
        "description": "Horizontal list of buttons displayed after the content. These *will* fade away once one is clicked.\n    <br><br>*A maximum of 11 buttons is supported by RCS channel.*",
        "maxItems": 11,
        "items": {
          "$ref": "#/components/schemas/content.bases.buttons.all"
        }
      },
      "content.bases.buttons.all": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/content.bases.buttons.postback"
          },
          {
            "$ref": "#/components/schemas/content.bases.buttons.web-url"
          },
          {
            "$ref": "#/components/schemas/content.bases.buttons.calendar-event"
          },
          {
            "$ref": "#/components/schemas/content.bases.buttons.dial"
          },
          {
            "$ref": "#/components/schemas/content.bases.buttons.share-location"
          },
          {
            "$ref": "#/components/schemas/content.bases.buttons.view-location"
          },
          {
            "$ref": "#/components/schemas/content.bases.buttons.search-location"
          }
        ],
        "discriminator": {
          "propertyName": "type",
          "mapping": {
            "text": "#/components/schemas/content.bases.buttons.postback",
            "link": "#/components/schemas/content.bases.buttons.web-url",
            "calendar_event": "#/components/schemas/content.bases.buttons.calendar-event",
            "dial": "#/components/schemas/content.bases.buttons.dial",
            "share_location": "#/components/schemas/content.bases.buttons.share-location",
            "view_location": "#/components/schemas/content.bases.buttons.view-location",
            "search_location": "#/components/schemas/content.bases.buttons.search-location"
          }
        }
      },
      "content.bases.buttons.base": {
        "type": "object",
        "properties": {
          "type": {
            "title": "Button type",
            "description": "Button type discriminator",
            "type": "string"
          },
          "text": {
            "type": "string",
            "description": "Text to be displayed inside the button",
            "example": "Click me!"
          },
          "payload": {
            "type": "string",
            "description": "Content to be sent back as a message event when the user clicks the button. By default, the text of the button will be used as payload.",
            "example": "clicked"
          }
        }
      },
      "content.bases.buttons.calendar-event": {
        "type": "object",
        "description": "Opens the standard calendar application on the user's device and creates a new event with the sent data.",
        "allOf": [
          {
            "$ref": "#/components/schemas/content.bases.buttons.base"
          },
          {
            "type": "object",
            "properties": {
              "startTime": {
                "type": "string",
                "description": "Start date and time of the event formatted following RFC3339 standard (similar to ISO 8601). Default timezone is UTC.",
                "example": "2021-01-15T17:30:00-03:00"
              },
              "endTime": {
                "type": "string",
                "description": "End date and time of the event formatted following RFC3339 standard (similar to ISO 8601). Default timezone is UTC.",
                "example": "2021-01-15T17:30:00-03:00"
              },
              "title": {
                "type": "string",
                "description": "Event description.",
                "example": "API development"
              }
            },
            "required": [
              "type",
              "text",
              "startTime",
              "endTime",
              "title"
            ]
          }
        ]
      },
      "content.bases.buttons.dial": {
        "type": "object",
        "description": "Opesn the default dial opp on the user's device.",
        "allOf": [
          {
            "$ref": "#/components/schemas/content.bases.buttons.base"
          },
          {
            "type": "object",
            "properties": {
              "phoneNumber": {
                "type": "string",
                "description": "Phone Number (E.164 format).",
                "example": "+558006464777"
              }
            },
            "required": [
              "type",
              "text",
              "phoneNumber"
            ]
          }
        ]
      },
      "content.bases.buttons.postback": {
        "type": "object",
        "description": "Send back a text message event when the user clicks on the button.",
        "allOf": [
          {
            "$ref": "#/components/schemas/content.bases.buttons.base"
          },
          {
            "type": "object",
            "required": [
              "type",
              "text"
            ]
          }
        ]
      },
      "content.bases.buttons.search-location": {
        "type": "object",
        "description": "Opens the standard calendar application on the user's device and creates a new event with the sent data.",
        "allOf": [
          {
            "$ref": "#/components/schemas/content.bases.buttons.base"
          },
          {
            "type": "object",
            "properties": {
              "query": {
                "type": "string",
                "description": "A text, for example, an address or a company name, to be searched in the default user's map application.",
                "example": "Av. Paulista, 2300 - São Paulo"
              }
            },
            "required": [
              "type",
              "text",
              "query"
            ]
          }
        ]
      },
      "content.bases.buttons.share-location": {
        "type": "object",
        "description": "Opens the default app for maps on the user's device and requests the user's location.",
        "allOf": [
          {
            "$ref": "#/components/schemas/content.bases.buttons.base"
          },
          {
            "type": "object",
            "required": [
              "type",
              "text"
            ]
          }
        ]
      },
      "content.bases.buttons.view-location": {
        "type": "object",
        "description": "Opens the standard calendar application on the user's device and creates a new event with the sent data.",
        "allOf": [
          {
            "$ref": "#/components/schemas/content.bases.buttons.base"
          },
          {
            "type": "object",
            "properties": {
              "latitude": {
                "type": "string",
                "description": "Latitude in degrees (range from -90.0 and +90.0).",
                "example": "-23.557260"
              },
              "longitude": {
                "type": "string",
                "description": "Longitude in degrees (range from -180.0 and +180.0).",
                "example": "-46.661030"
              },
              "label": {
                "type": "string",
                "description": "Text to be displayed with the map position pin icon.",
                "example": "Zenvia"
              }
            },
            "required": [
              "type",
              "text",
              "latitude",
              "longitude"
            ]
          }
        ]
      },
      "content.bases.buttons.web-url": {
        "type": "object",
        "description": "Opens a URL on user's device and sends the payload field content to the Agent.",
        "allOf": [
          {
            "$ref": "#/components/schemas/content.bases.buttons.base"
          },
          {
            "type": "object",
            "properties": {
              "url": {
                "type": "string",
                "description": "URL to be accessed upon click.",
[...]
